{% extends "base.html" %}

{% block title %}
-apply
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/apply.css">
{% endblock %}

{% block js%}
    <script src="./static/js/apply.js" type="text/javascript"></script>
{% endblock%}

{% block content %}

    <main id="m-sample">

      <div class="wrap">

        <div id="apply-main">
          <!-- 見出し -->
            <h1>応募ページ</h1>
            <hr noshade="">

          <!-- 応募情報 -->
            <div id="center">
                <form action="/apply_upload/{{apply.F_ContestMasterID}}" method="post" enctype="multipart/form-data">

                    <h2>応募情報</h2>

                    <!-- タイトル -->
                    <label for="title">
                        <p>タイトル</p>
                        <p class="red">※必須</p>
                        <input type="text" name="title" id="title" autocomplete="off">
                    </label>
                        <p id="ertitle"></p>


                    <!-- コメント -->
                    <label for="comment">
                        <p>コメント</p>
                        <p class="red">※必須</p>
                        <input type="text" name="comment" id="comment" autocomplete="off">
                    </label>
                        <p id="ercomment"></p>





<!-- こいつをどうにかしてくれ -->
                    <figure>
                        <img src="/static/images/img1.jpg" alt="big" id="bigimg">
                        <input type="file" class="button" id="imageinput1" name="imageinput1" style="display: none;" onchange="previewImage('imageinput1','bigimg')">
                        <label class="button" for="imageinput1">&#xf03e;</label>
                    </figure>
                        <p id="erimageinput1"></p>

<!-- ↓のどっかにこいつを... -->

                    <!-- プロフ画像 -->
                    <label for="prof-image">
                        <p>応募画像</p>
                        <p class="red">※必須</p>
                        <input type="file" name="prof-image" id="prof-image">
                    </label>
                        <p id="erprof-image"></p>


                    <!-- 送信ボタン -->
                    <input type="submit" value="応募する" id="bottun">

                </form>
            </div>
        </div>




      </div><!-- class="wrap" -->

    </main>

    


{% endblock %}