{% extends "base.html" %}

{% block title %}
-assignment
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="static/css/assignment.css">
{% endblock %}

{% block content %}

    <main id="m-sample">

      <div class="wrap">
        <div class="assignment-wrap">
          

          <div id="upper">
            <div id="upper-up"></div>
            <div id="upper-down">
              <form id="assignform">
                <a href="#">譲渡会一覧はこちら</a>
                <input  id="assignarea" type="text" name="" placeholder="エリアを入力してください">
              </form>
            </div>
          </div>

          <div id="lower">
            <ul>
              {% for conid in range(6)%}

              <li id="con{{conid}}" class="contents">
                <div class="lower-content">
                  <div class="lower-inner">
                    <p class="year">{{ conid[0] }}</p>
                    <h2 class="day">{{ conid[1]}}</h2>
                    <p class="ken">{{ conid[2] }}</p>
                  </div>
                  <figure>
                    <img src="" alt="">
                  </figure>
                </div>
              </li>
              {% endfor %}


        </div>
      </div><!-- class="wrap" -->

    </main>

        {% endblock %}

