{% extends "base.html" %}

{% block title %}
-community
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/community.css">
{% endblock %}

{% block js%}
     <script type="text/javascript" src="/static/js/community.js"></script>
{% endblock%}

{% block content %}

    <main id="m-sample">

      <div class="wrap">

        <!-- <form action="/community" method="post">
          <input type="text" name="search" placeholder="ユーザー名を検索">
          <button type="submit">検索</button>
        </form> -->
        <div id="c_frame">


          <div id="c_frame_sb">

            <div id="c_frame_sb_u">
                  <div id="c_frame_sb_u_co">
                      <div class="dli-arrow-left" id="sb_cont">
                  </div>
              </div>
            </div>

            <div id="c_frame_sb_d" class="act">
              <ul id="c_frame_sb_d_user">
                {% if search_results %}
                  {% for results in search_results %}
                  <li ><figure><a href="{{ url_for('main.community_mein' , receiver_id=user_info.F_UserID)}}"><img src="{{ url_for('static', filename='prof_image/' + user_info.F_ProfileImage)}}" alt="profile_image" alt=""></figure><p>{{user_info.F_UserName}}</p></a></li>
                  {% endfor %}
                {% endif %}
                {% for user_id, user_info in users.items() %}
                <li ><figure><a href="{{ url_for('main.community_mein' , receiver_id=user_info.F_UserID)}}"><img src="{{ url_for('static', filename='prof_image/' + user_info.F_ProfileImage)}}" alt="profile_image" alt=""></figure><p>{{user_info.F_UserName}}</p></a></li>
                {% endfor %}
              </ul>
            </div>

          </div> <!-- c_frame_sb終了 -->

          <div id="c_frame_mc">

            <div class="c_frame_mc_chat">
              <div class="mc_contents_user">
                <p>{{users.F_UserName}}</p>

              </div>
              <ul class="mc_contents">
                {% for message in messages %}

                {% if message.F_SenderID == current_user.F_UserID%}
                <li class="chat">
                  
                  <figure class="recep"></figure>
                  {%if message.F_ChatContest%}
                  <span><p>{{message.F_ChatContest}}</p></span>
                  {%elif message.F_ChatImage %}
                  <span><img src="/static/chat_image/{{message.F_ChatImage}}" alt=""></span>
                  {%endif%}
                  <figure class="send"><img src="/static/prof_image/{{current_user.F_ProfileImage}}" alt=""></figure>
                </li>
                {% else %}
                <li class="chat">
                  <figure class="recep"><img src="{{ url_for('static', filename='prof_image/' + receiver.F_ProfileImage) }}" alt="Profile Image"></figure>
                  {%if message.F_ChatContest%}
                  <span><p>{{message.F_ChatContest}}</p></span>
                  {%elif message.F_ChatImage %}
                  <span id="chatimage"><img src="/static/chat_image/{{message.F_ChatImage}}" alt=""></span>
                  {%endif%}                  <figure class="send"></figure>
                </li>
                {% endif %}
                {% endfor %}



              </ul>
            </div>
            

            <div class=" c_frame_mc_under">

              <form method="post" id="chatform" name="chatter" enctype="multipart/form-data"> 


              <div id="hide_ui_sendimg" class="hide_ui_sendimg">
                <ul>
                  <li><input type="file" id="sendimg" name="sendimg"></li>
                </ul>
              </div>


               <div id="hide_ui_stamp" class="hide_ui_sendimg">
                <ul>
                  <li>
                    <p>スタンプ</p>
                    <figure>
                      <img src="" alt="">
                    </figure>
                  </li>

                  <li>
                    <figure>
                      <img src="" alt="">
                    </figure>
                  </li>
                  <li>
                    <figure>
                      <img src="" alt="">
                    </figure>
                  </li>

                   <li>
                    <figure>
                      <img src="" alt="">
                    </figure>
                  </li>
 <li>
                    <figure>
                      <img src="" alt="">
                    </figure>
                  </li>
                   <li>
                    <figure>
                      <img src="" alt="">
                    </figure>
                  </li> <li>
                    <figure>
                      <img src="" alt="">
                    </figure>
                  </li> <li>
                    <figure>
                      <img src="" alt="">
                    </figure>
                  </li> <li>
                    <figure>
                      <img src="" alt="">
                    </figure>
                  </li>
                </ul>
              </div>


                <div  id="info" class="form_list"><div class="list"></div></div>


                <input type="text" name="chat_input" class="chat_input" placeholder="入力してください">
                <span  id="stamp" class="unknown"></span>
                <button type="submit" class="chat_button">送信</button>

              </form>

            </div>

          </div>


        </div><!-- c_frame　終わり -->
              </div><!-- class="wrap" -->

    </main>

        {% endblock %}