{% extends "base.html" %}

{% block title %}
-contest
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="static/css/contest.css">
{% endblock %}

{% block content %}

    <main id="m-sample">

      <div class="wrap">

        <div class="slide">
          <img src="/static/images/con1.png" alt="メインビジュアル01">
          <img src="/static/images/con1-2.png" alt="メインビジュアル02">
          <img src="/static/images/con1-2-3.png" alt="メインビジュアル03">
        </div>

            {% set  contest = 63 %}
            {% set prize = 8 %}
            {% set join = 45 %}


        <div id="num">
          <div class="num">
            <p>コンテスト数</p>
            <h2>{{ contest }}</h2>
          </div>
          <div class="num">
            <p>参加者数</p>
            <h2> {{join}}</h2>
          </div>
          <div class="num">
            <p>入賞者数</p>
            <h2>{{ prize }}</h2>
          </div>
        </div>

        <div id="item">
          {% for i in range(8)%}
          <a href="#" class="aitem"><div class="item">
            <figure><img src="{{ i[0]}}" alt="item"></figure>
            <h3>{{ i[1] }}</h3>
            <p>{{ i[2] }}</p>
          </div></a>
            {% endfor %}
          </div>
        </div>
      </div><!-- class="wrap" -->

    </main>


{% endblock %}