{% extends "base.html" %}

{% block title %}
-contest
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="static/css/contest.css">
{% endblock %}

{% block content %}

    <main id="m-sample">

      <div class="wrap">

        <div class="slide">
          {% for sliders in slider %}
            <img src="/static/master/{{sliders.F_ContestMasterImage}}" alt="メインビジュアル">
          {% endfor %}
        </div>


            {% set prize = 8 %}
            {% set join = 45 %}


        <div id="num">
          <div class="num">
            <p>コンテスト数</p>
            <h2>{{ contestpost }}</h2>
          </div>
          <div class="num">
            <p>参加者数</p>
            <h2> {{join}}</h2>
          </div>
          <div class="num">
            <p>入賞者数</p>
            <h2>{{ prize }}</h2>
          </div>
        </div>

        <div id="item">
          {% for contests in contest %}
          <a href="/contest_detail/{{contests.F_ContestMasterID}}" class="aitem"><div class="item">
            <figure>
              <img src="{{ url_for('static', filename='master/' + contests.F_ContestMasterImage)}}" alt="big" id="bigimg">
            </figure>
            <h3>{{ contests.F_ContestMasterTitle }}</h3>
            <p>{{ contests.F_ContestMasterContent }}</p>
          </div></a>
            {% endfor %}
          </div>
        </div>
      </div><!-- class="wrap" -->

    </main>


{% endblock %}