{% extends "base.html" %}

{% block title %}
-exhibit_con
{% endblock %}

{% block css%}
    <link rel="stylesheet" type="text/css" href="/static/css/exhibit_con.css">
{% endblock %}
    <!-- cssを編集する時は各自でHTML名と同じ名前でcssファイルを作り、連携させること -->
    <!-- <link rel="stylesheet" type="text/css" href="css/ xxx.css"> -->


{% block content %}
    <main id="m-sample">

      <div class="wrap">



        <h1>出品確認</h1>


        <div id="herf">
          <div id="img">
              <figure><img src="{{ url_for('static', filename='toredo/' + exhibit.F_ExPhoto)}}" alt="big" id="bigimg"></figure>

            <div id="minidiv">
              <figure><img src="{{ url_for('static', filename='toredo/' + exhibit.F_ExPhotoS)}}" alt="mini" class="miniimg"></figure>
              <figure><img src="{{ url_for('static', filename='toredo/' + exhibit.F_ExPhotoT)}}" alt="mini" class="miniimg"></figure>
              <figure><img src="{{ url_for('static', filename='toredo/' + exhibit.F_ExPhotoH)}}" alt="mini" class="miniimg"></figure>
              <figure><img src="{{ url_for('static', filename='toredo/' + exhibit.F_ExPhotoF)}}" alt="mini" class="miniimg"></figure>
            </div>
          </div>
          <div id="form">
            <form>
              <div>
                <label>タイトル</label><p>{{ exhibit.F_ExTitle }}</p>
              </div>
              <div>
                <section class="sec"><label class="areatag">商品説明</label></section>
                <p>{{exhibit.F_ExInfo}}</p>
              </div>
              <div id="form-2">
                <div class="henka">
                  <label>商品状態</label><p>{{exhibit.F_ExSit}}</p>
                </div>
                <div class="henka">
                  <label>配達方法</label><p>{{exhibit.F_ExDeli}}</p>
                </div>
                <div class="henka">
                  <label>ジャンル</label><p>{{exhibit.F_CategoryName}}</p>
                </div>
                <div>
                  <label>￥</label><p>{{exhibit.F_ExPrice}}</p>
                </div>
              </div>
              <div>
                <section class="sec"><label id="labtag" class="areatag">タグ</label></section><p>{{exhibit.F_ExTag}}</p>
              </div>
            </form>
          </div>
        </div>

        <div id="btn12">
          <!-- index.htmlへ遷移 -->
          <a href="/top" id="button1">出品をやめる　〉</a>
          <!-- exhibit._compへ遷移 -->
          <a href="/exhibit_comp" id="button2">出品を確定する　〉</a>
        </div>

      </div><!-- class="wrap" -->

    </main>

{% endblock %}






















    <footer>

    <p id="page-top"><a href="#">Top</a></p>

      <!-- <div class="footer-wrap"> -->

<!-- 
      <div class="rogo-wrap">
        <figure>
          <img src="images/rogo.png" alt="rogo">
        </figure>
      </div> -->




      <!-- <div class="f-nav-wr">

        <nav>
          <ul>
            <li class="nav-bold">HELP</li>
            <li><a href="#">ヘルプセンター</a></li>
            <li><a href="#">お問い合わせ</a></li>
            <li><a href="#">ガイド</a></li>
            <li><a href="#">プライバシーポリシー</a></li>
    
          </ul>
          </ul>
        </nav>

      </div> -->


            <!-- <div class="f-nav-wr">

        <nav>
          <ul>
            <li class="nav-bold">SETEMAP</li>
            <li><a href="#">譲渡会</a></li>
            <li><a href="#">迷子掲示板</a></li>
            <li><a href="#">里親掲示板</a></li>
          </ul>
        </nav>

      </div> -->



      <!-- </div> -->
      <!-- class="footer-wrap"の終了タグ -->




      <div class="copy-all">
        2023 &copy; Copyright Titta. All rights reserved.
      </div>



    </footer>


 <!-- jQueryへのリンク -->
    <script src="https://code.jquery.com/jquery-3.6.3.min.js" integrity="sha256-pvPw+upLPUjgMXY0G+8O0xUf+/Im1MZjXxxgOcBQBXU=" crossorigin="anonymous"></script>
    <script src="https://kit.fontawesome.com/ebfd63cef7.js" crossorigin="anonymous"></script>
    <script src="/static/js/common.js"></script>

  </body>

</html>