{% extends "base.html" %}

{% block title %}
-exhibit
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="static/css/exhibit.css">
{% endblock %}

{% block content %}
  <form action="/upload" method="post" enctype="multipart/form-data" id="imageForm" onsubmit="return exhibisub()">

    <main id="m-sample">

      <div class="wrap">



        <section id="h1line">
        <h1>出品</h1>

        </section>


        <div id="herf">
          <div id="img">
            <figure id="tukurikata">
              <img src="/static/images/img1.jpg" alt="big" id="bigimg">
              <input type="file" class="exbutton" id="imageinput1" name="imageinput1" style="display: none;" onchange="previewImage('imageinput1','bigimg')">
              <label class="exbutton" for="imageinput1">&#xf03e;</label>
            </figure>
            <!-- <div id="btndiv">
              <button id="btn" name="selectimg">画像選択</button>
            </div> -->
            <div id="minidiv">
              <figure>
                <img src="" alt="mini" class="miniimg" id="secondimage"onerror="this.style.display='none';">
                <input type="file" class="exbutton" id="imageinput2" name="imageinput2" style="display: none;" onchange="previewImage('imageinput2','secondimage')">
                <label class="exbutton" for="imageinput2">&#xf03e;</label>
              </figure>
              <figure>
                <img src="" alt="mini" class="miniimg" id="thirdimage" onerror="this.style.display='none';">
                <input type="file" class="exbutton" id="imageinput3" name="imageinput3" style="display: none;" onchange="previewImage('imageinput3','thirdimage')">
                <label class="exbutton" for="imageinput3">&#xf03e;</label>
              </figure>
              <figure>
                <img src="" alt="mini" class="miniimg" id="fourthimage" onerror="this.style.display='none';">
                <input type="file" class="exbutton" id="imageinput4" name="imageinput4" style="display: none;" onchange="previewImage('imageinput4','fourthimage')">
                <label class="exbutton" for="imageinput4">&#xf03e;</label>
              </figure>
              <figure>
                <img src="" alt="mini" class="miniimg" id="fifthimage" onerror="this.style.display='none';">
                <input type="file" class="exbutton" id="imageinput5" name="imageinput5" style="display: none;" onchange="previewImage('imageinput5','fifthimage')">
                <label class="exbutton" for="imageinput5">&#xf03e;</label>
              </figure>
            </div>
          </div>
          <div id="form">
            <div id="inform">
              <div>
                <label>タイトル</label><input type="text" id="title" name="title">
              </div>
              <div>
                <section class="sec"><label class="areatag">商品説明</label></section>
                <textarea id="setumei" name="setumei"></textarea>
              </div>
              <div id="form-2">
                <div>
                  <label>商品状態</label>
                  <select name="situation" id="situation">
                    <option value="">選択してください</option>
                    <option value="新品">新品</option>
                    <option value="開封済み">開封済み</option>
                    <option value="使用済み">使用済み</option>
                    <option value="破損">破損</option>
                  </select>
                </div>

                <div>
                  <label>配達方法</label>
                  <select name="deli" id="deli">
                    <option value="">選択してください</option>
                    <option value="レターパック">レターパック</option>
                    <option value="郵送">郵送</option>
                    <option value="titta便">Titta便</option>
                    <option value="宅急便">宅急便</option>
                  </select>
                </div>
                
                <div>
                  <label>ジャンル</label>
                  <select name="genre" id="genre">
                    <option value="">選択してください</option>
                    {% for category in categories %}
                    <option value="{{ category.F_CategoryID }}">{{ category.F_CategoryName }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div>
                  <label id="kanee">金額</label><input type="number" id="kane" name="kane"  placeholder="金額(円)">
                </div>
              </div>

              <div id="harborcon">
                <div class="harbor">
                  <label class="harbor-label">横幅</label><input type="number" id="width" name="width" placeholder="商品の横幅">
                </div>
                <div class="harbor" id="heiharbor">
                  <label class="harbor-label">高さ</label><input type="number" id="height" name="height"  placeholder="商品の高さ">
                </div>
              </div>

              <div>
                <section class="sec"><label id="labtag" class="areatag">タグ</label></section><textarea id="tag" name="tag" placeholder="#タグ"></textarea>
              </div>
            
            </div>
        <button type="submit"  id="button1">出品確認画面へ〉</button>

          </div>
        </div>


      </div><!-- class="wrap" -->

    </main>
        </form>

        <script src="/static/js/exhibit.js"></script>
        {% endblock %}