{% extends "base.html" %}

{% block title %}
-exhibit_trial
{% endblock %}

{% block css %}
  <link rel="stylesheet" type="text/css" href="/static/css/exhibit.css">
{% endblock %}

{% block content %}

  <form action="/trial_page" method="post" enctype="multipart/form-data" id="imageForm">
    <main id="m-sample">
      <div class="wrap">

        <h1>お試し出品</h1>

        <div id="herf">
          <div id="img">
            <figure>
              <img src="/static/images/img1.jpg" alt="big" id="bigimg">
              <input type="file" class="button" id="imageinput1" name="imageinput1" style="display: none;" onchange="previewImage('imageinput1','bigimg')">
              <label class="button" for="imageinput1">&#xf03e;</label>
            </figure>
            <!-- <div id="btndiv">
              <button id="btn" name="selectimg">画像選択</button>
            </div> -->
            <div id="minidiv">
              <figure>
                <img src="/static/images/img1.jpg" alt="mini" class="miniimg" id="secondimage">
                <input type="file" class="button" id="imageinput2" name="imageinput2" style="display: none;" onchange="previewImage('imageinput2','secondimage')">
                <label class="button" for="imageinput2">&#xf03e;</label>
              </figure>
              <figure>
                <img src="/static/images/img1.jpg" alt="mini" class="miniimg" id="thirdimage">
                <input type="file" class="button" id="imageinput3" name="imageinput3" style="display: none;" onchange="previewImage('imageinput3','thirdimage')">
                <label class="button" for="imageinput3">&#xf03e;</label>
              </figure>
              <figure>
                <img src="/static/images/img1.jpg" alt="mini" class="miniimg" id="fourimage">
                <input type="file" class="button" id="imageinput4" name="imageinput4" style="display: none;" onchange="previewImage('imageinput4','fourthimage')">
                <label class="button" for="imageinput4">&#xf03e;</label>
              </figure>
              <figure>
                <img src="/static/images/img1.jpg" alt="mini" class="miniimg" id="fifthimage">
                <input type="file" class="button" id="imageinput5" name="imageinput5" style="display: none;" onchange="previewImage('imageinput5','fifthimage')">
                <label class="button" for="imageinput5">&#xf03e;</label>
              </figure>
            </div>
          </div>
          <div id="form">
            <div id="inform">
              <div>
                <label for="title">タイトル</label><input type="text" id="title" name="title" placeholder="題名や注目部分を記載してください。">
              </div>
              <div>
                <section class="sec"><label class="areatag" for="setumei">商品説明</label></section>
                <textarea id="setumei" name="setumei" placeholder="商品に関する説明をできるだけ詳しく記載してください。"></textarea>
              </div>
              <div id="form-2">
                <div>
                  <label for="situation">商品状態</label>
                  <select name="situation">
                    <option value="">選択してください</option>
                    <option value="新品">新品</option>
                    <option value="開封済み">開封済み</option>
                    <option value="使用済み">使用済み</option>
                    <option value="破損">破損</option>
                  </select>
                </div>

                <div>
                  <label for="deli">配達方法</label>
                  <select name="deli">
                    <option value="">選択してください</option>
                    <option value="郵便">郵便</option>
                    <option value="レターパック">レターパック</option>
                    <option value="Titta便">Titta便</option>
                    <option value="ゆうパック">ゆうパック</option>
                  </select>
                </div>
                
                <div>
                  <label for="genre">ジャンル</label>
                  <select name="genre">
                    <option value="">選択してください</option>
                    {% for category in categories %}
                    <option value="{{ category.F_CategoryID }}">{{ category.F_CategoryName }}</option>
                    {% endfor %}
                  </select>
                </div>
                <div>
                  <label for="kane">￥</label><input type="text" id="kane" name="kane" placeholder="金額(円)">
                </div>
                <div>
                  <label for="kane"></label><input type="text" id="width" name="width" placeholder="商品の横幅">
                </div>
                <div>
                  <label for="kane"></label><input type="text" id="height" name="height" placeholder="商品の高さ">
                </div>
              </div>
              <div>
                <section class="sec"><label id="labtag" class="areatag" for="tag">タグ</label></section><textarea id="tag" name="tag" placeholder="タグを書き方に従って記載してください。(#タグ１.#タグ２)"></textarea>
              </div>
            
            </div>
          </div>
        </div>

        <input type="submit"  id="button1" value="出品確認画面へ〉">
      </div><!-- class="wrap" -->

    </main>
  </form>
{% endblock %}

{% block js %}
  <script src="/static/js/exhibit.js"></script>
{% endblock %}