{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/my_prof_left.css">
    <!-- ↑左のサイドバーのcss -->
    <!-- ↓ここ編集 -->
    <link rel="stylesheet" type="text/css" href="/static/css/favorite.css">
{% endblock %}

{% block content %}
    <main id="m-my_profile">

      <div class="wrap">

{% include "myside.html" %}




        <!-- ↓ここに入力してって -->


        <div id="right"><!-- 右  -->
          <h1><u>お気に入り</u></h1>
          <div id="yoko">
            <table>

<!-- DB連携書き換え -->
{% set a = ["タイトル", "値段", "2", "3"]%}
              {% for i in range(4)%}
              <div>
                <tr class="sen">
                  <td rowspan="2"><img src="/static/images/img1.jpg" alt=""></td>
                  <td colspan="4" class="taitoru">{{ a[0] }}</td>
                </tr>
                <tr class="sen2">
                  <td class="kane">￥{{ a[1] }}</td>
                  <td>&#9829;{{ a[2] }}</td>
                  <td><img src="/static/images/tyatto.png" class="tyatto">{{ a[3] }}</td>
                  <td><button class="gomi">&#128465;</button></td>
                </tr>
              </div>
              {% endfor %}

            </table>
          </div>



        </div>



      </div><!-- class="wrap" -->

    </main>






{% endblock %}