{% extends "base.html" %}


{% block title %}
-foster_detail
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/board_detail.css">
{% endblock %}


{% block content %}
    <main id="m-lost_post">

      <div class="wrap">



        <div class="p_detail-heading">
          <p><a href="/foster_board"><< 検索に戻る</a></p>
          <p id="p-id">投稿ID:{{ fosterd_id }}</p>
        </div><!-- class="p_detail-heading" -->







        <div class="p-detail-wrap">



          <div class="p-detail_left">
            <h2>投稿タイトル</h2>
            <div class="post-img">
              <figure>
                <img src="images/pet1.png" alt="petimg">
                <!-- 画像リンクはお願い -->
              </figure>
            </div>


            <h3>基本情報</h3>
            <table>
              <tr>
                <th>状況</th>
                <td colspan="3">募集中</td>
              </tr>
              <tr>
                <th>種類</th>
                <td>{{ syurui }}</td>
                <th>大きさ</th>
                <td>{{ ookisa }}</td>
              </tr>
              <tr>
                <th>性別</th>
                <td>{{ gender }}</td>
                <th>年齢</th>
                <td>{{ nenrei }}</td>
              </tr>
              <tr>
                <th>ワクチン接種</th>
                <td>{{ vaccine }}</td>
                <th>去勢・避妊</th>
                <td>{{ kyosei }}</td>
              </tr>
              <tr>
                <th>単身応募</th>
                <td>{{ tanshin }}</td>
                <th>高齢者応募</th>
                <td>{{ koureisha }}</td>
              </tr>
              <tr>
                <th>掲載日</th>
                <td>{{ keisaibi }}</td>
                <th>掲載期日</th>
                <td>{{ kijitsu}}</td>
              </tr>
              <tr>
                <th>ペット所在地</th>
                <td colspan="3">{{ syozai }}</td>
              </tr>
              <tr>
                <th>応募可能地域</th>
                <td colspan="3">{{ oubokanou }}</td>
              </tr>
            </table>


            <h3>詳細情報</h3>
            <table>
              <tr>
                <th>募集の経緯</th>
                <td>
                  {{ keii }}
                </td>
              </tr>
              <tr>
                <th>性格・特徴</th>
                <td>
                  {{ seikaku }}
                </td>
              <tr>
                <th>健康状態</th>
                <td>
                  {{ kenkou }}
                </td>
              </tr>
              <tr>
                <th>引き渡し場所</th>
                <td>
                  {{ hikiwatashi }}
                </td>
              </tr>
              <tr>
                <th>その他備考</th>
                <td>
                  {{ bikou }}
                </td>
              </tr>
            </table>


          </div><!-- class="p-detail_left" -->



          <div class="p-detail_right">
            <p>お気に入り登録者数:{{ favorite }}人</p>
            <p id="pet-buttom"><a href="/inquiry">申し込み・お問い合わせ</a></p>
            <p id="font-small">※里親募集者の都合により、応募可能地域外にお住まいの方からのお問い合わせは受け付けていません。<br>
                【応募可能地域】をご確認ください。</p>

            <div class="inquiry-wrap">
              <p id="line-pink">条件</p>
              <p>・高齢者（６５歳以上）：不可<br>
                  ・引き渡し後定期的に写真や動画を送ってくださる方<br>
                  ・最後まで大切に育てて頂ける方<br>
                  ・引き渡し後避妊手術必須</p>
            </div><!-- class="inquiry-wrap" -->

            <div class="apply-wrap">
              <p class="line-ddd">応募可能地域</p>
              <p>愛知県、三重県、静岡県<br>
                  ※対象地域外の方要相談</p>
            </div><!-- class="apply-wrap" -->

            <div class="recruiter-wrap">
              <p class="line-ddd">募集者情報</p>
              <div id="re-wrap">
                <div id="pro-img">
                  <figure>
                    <img src="images/pro-icon.png" alt="プロフィール画像">
                    <!-- ここおねがい -->
                  </figure>
                </div><!-- id="pro-img" -->
                <div id="pro-inf">
                  <p>名前：{{ profname }}</p>
                  <p>会員種別：{{ profcate }}</p>
                  <p>法人・団体名：{{ profteam }}</p>
                </div><!-- id="pro-inf" -->
              </div><!-- id="re-wrap" -->

              <div id="pro-msg">
                <p>
                  {{ profmsg }}
                </p>
              </div>
            </div><!-- class="recruiter-wrap" -->



          </div><!-- class="p-detail_right" -->




        </div><!-- class="p-detail-wrap" -->





        <div class="p-similar">
          <h2>似たような条件の里親情報</h2>

          <div class="similar-wrap">

          {% for i in range(5)%}

          {% include "post_detail.html" %}
          {% endfor %}




          </div><!-- class="similar-wrap" -->



          <p><a href="/foster_board">
              << 検索に戻る</a>
          </p>
        </div><!-- class="p-similar" -->




      </div><!-- class="wrap" -->

    </main>


{% endblock %}









