{% extends "base.html" %}

{% block title %}
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="static/css/index.css">
{% endblock %}

{% block content %}

    <main id="m-sample">

      <div class="wrap">
        <section class="index_M_sec1_1">
          <div class="index_M_sec1_di_1">
            <div class="index_M_sec1_di_1_1">
              <h1>最新の迷子情報</h1>
              <div>
                <img src="./static/images/maigotori.png"><br>
                セキセイインコの男の子
              </div>
            </div>
          </div>

          <div class="index_M_sec1_di_2">
            <div class="index_M_secc1_di_2_1">
              <h1>今週の注目コンテスト</h1>
              <img src="./static/images/maigotori.png">
            </div>
          </div>
        </section>

        <section class="index_M_sec2_1">
          <div class="index_M_sec2_fl_1">
            <div class="index_M_sec2_di_1">
              <a href="/login" id="loginB"></a>

            <form method="post">

              <div class="index_M_sec2_di_1_1">
                <h1>絞り込み</h1>

                    <div class="index_M_sec2_fl_1_1_1">
                      <p>キーワード</p>
                        <input type="text" placeholder="キーワード検索" name="word">
                    </div>

                    <div class="index_M_sec2_fl_1_1_2">
                      <p>除外ワード</p>
                        <input type="text" placeholder="除外ワード" name="exword">
                    </div>

                    <div class="index_M_sec2_fl_1_1_3">
                      <p>カテゴリ</p>
                      <select name="genre">
                        <option value="">選択してください</option>
                        {% for categories in category %}
                        <option value="{{ categories.F_CategoryID }}">{{ categories.F_CategoryName }}</option>
                        {% endfor %}
                      </select>
                    </div>

                    <div class="index_M_sec2_fl_1_1_4">
                      <p>価格</p>
                      <div>
                          <input type="text" placeholder="下限" name="lowerprice">
                        <p>～</p>
                          <input type="text" placeholder="上限" name="highprice">
                      </div>
                    </div>
                    <button type="submit">検索する</button>

              </div>
                </form>
              

              <div class="index_M_sec2_di_1_2">
                <h1>ペットから探す</h1>
                <nav>
                  <ul>
                    <li><a href="/product?dog">犬</a></li>
                    <li><a href="/product?cat">猫</a></li>
                    <li><a href="/product?">小動物</a></li>
                    <li><a href="/product?bird">鳥</a></li>
                    <li><a href="/product?rep">爬虫類</a></li>
                    <li><a href="/product">両生類</a></li>
                    <li><a href="/product">昆虫</a></li>
                    <li><a href="/product">淡水魚</a></li>
                    <li><a href="/product">浄水魚</a></li>
                  </ul>
                </nav>

                <h1>カテゴリから探す</h1>
                <nav>
                  <ul>
                    <li><a href="/">ゲージ/水槽</a></li>
                    <li><a href="/">エサ入れ/水入れ</a></li>
                    <li><a href="/">首輪/リード/ハーネス</a></li>
                    <li><a href="/">おもちゃ</a></li>
                    <li><a href="/">キャリーバッグ</a></li>
                    <li><a href="/">爪とぎ</a></li>
                    <li><a href="/">ペット家具</a></li>
                    <li><a href="/">飼育セット</a></li>
                    <li><a href="/">照明</a></li>
                    <li><a href="/">保湿器具</a></li>
                    <li><a href="/">床材</a></li>
                    <li><a href="/">シェルター</a></li>
                    <li><a href="/">湿温度計/サーモスタット</a></li>
                    <li><a href="/">ピンセット</a></li>
                  </ul>
                </nav>
              </div>
            
              <a href="#" class="koukoku1"></a>
              <a href="#" class="koukoku2"></a>
            </div>

            <div class="index_M_sec2_di_2">
              <div>
                <h1>イベント情報</h1>
                <div>
                  <a href="#" class="event1_frame"></a>
                  <a href="#" class="event2_frame"></a>
                </div>
              </div>

              <div class="search_from_kinds_of_pet">
                <h1>ペットの種類から探す</h1>
                <div class="kind_of_pets_flex">
                  <a href="#"></a>
                  <a href="#"></a>
                  <a href="#"></a>
                  <a href="#"></a>
                  <a href="#"></a>
                  <a href="#"></a>
                  <a href="#"></a>
                </div>
                <a href="#">全てのペットを見る</a>
              </div>

              <div class="tutorial_choice">
                <a href="/exhibit_trial"></a>
                <a href="#"></a>
              </div>

              <div class="search_from_category_of_goods">
                <h1>商品から探す</h1>
                <div class="category_of_goods_flex">
                  <a href="#">
                    <p>ゲージ</p>
                  </a>
                  <a href="#">
                    <p>エサ入れ</p>
                  </a>
                  <a href="#">
                    <p>リード</p>
                  </a>
                  <a href="#">
                    <p>おもちゃ</p>
                  </a>
                  <a href="#">
                    <p>キャリーバッグ</p>
                  </a>
                  <a href="#">
                    <p>ペット家具</p>
                  </a>
                  <a href="#">
                    <p>床材</p>
                  </a>
                  <a href="#">
                    <p>加湿器</p>
                  </a>
                  </div>
              <a href="/product">全ての商品を見る</a>
              </div>

<!-- この下デバッグ用変数の設定、flask側で処理が作れたら消す -->
              {% set foster = "里親募集" %} 
              {% set lost = "迷子" %}
              {% set dogitem = "犬用品" %}
              {% set catitem = "猫用品" %}


              <p class="satooyabo">里親掲示板</p>
               {% with cont = foster %}
                  {% include "index_flex_module.html" %}
               {% endwith%}

              <p class="satooyabo">迷子掲示板</p>
              {% with cont = lost %}
                 {% include "index_flex_module.html" %}
              {% endwith%}

              <p class="satooyabo">犬用品</p>
              {% with cont = dogitem %}
                 {% include "index_flex_module.html" %}
              {% endwith%}

              <p class="satooyabo">猫用品</p>
              {% with cont = catitem %}
                 {% include "index_flex_module.html" %}
              {% endwith%}
              

        </section>
      </div><!-- class="wrap" -->

    </main>

{% endblock %}