{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/my_prof_left.css">
    <!-- ↑左のサイドバーのcss -->
    <!-- ↓ここ編集 -->
    <link rel="stylesheet" type="text/css" href="/static/css/inquiry.css">
{% endblock%}


{% block title%}
-inquiry
{% endblock%}


{% block content %}
    <main id="m-my_profile">

      <div class="wrap">

{% include "myside.html" %}





        <!-- ↓ここに入力してって -->


        <div id="right"><!-- 右  -->
                  <h1>お問い合わせ</h1>
          <div id="nyuuryoku">
            <form action="" method="">
              <table>
                <tr>
                  <td>お名前</td>
                  <td id="namae"><label>姓</label><input type="text" id="sei" name="sei"><br>
                  <label>名</label><input type="text" id="na" name=""></td>
                </tr>
                <tr>
                  <td>メールアドレス(必須)</td>
                  <td><input type="text" id="mail" name="mail"></td>
                </tr>
                <tr>
                  <td>内容(必須)</td>
                  <td><textarea id="nai" name="nai"></textarea></td>
                </tr>
              </table>
              <button type="submit" id="btn" name="btn">送信</button>
            </form>
          </div>

          <div id="tel">
            <h2>電話番号</h2>
            <h2>0120-33-3906</h2>
          </div>



        </div>



      </div><!-- class="wrap" -->

    </main>




{% endblock %}