{% extends "base.html" %}

{% block css%}
    <link rel="stylesheet" type="text/css" href="/static/css/my_prof_left.css">
    <!-- ↑左のサイドバーのcss -->
    <!-- ↓ここ編集 -->
    <link rel="stylesheet" type="text/css" href="/static/css/listing_list.css">
{% endblock %}

{% block title %}
-listing_list
{% endblock%}

{% block content %}
    <main id="m-my_profile">

      <div class="wrap">

{% include "myside.html" %}






        <!-- ↓ここに入力してって -->


        <div id="right"><!-- 右  -->

          <h2>購入履歴</h2>

          <div id="allbox">
            
            <p id="tradedUser">取引したユーザー</p>
            
            <!-- DB連携書き換え必須 -->
            {% for exhibit, user in exhibit_info %}
            <div class="minibox">

              <a href="/product_detail/{{exhibit.F_ExID}}">
                <figure>
                  <img src="{{ url_for('static', filename='toredo/' + exhibit.F_ExPhoto)}}" alt="big" id="bigimg">
                </figure>
              </a>

              <div class="detailbox">
                <a href="/"><p></p></a><!--いずれ文字を消してで入れるようにする-->
                <p class="price">￥{{ exhibit.F_ExPrice }}</p><!-- 2000は消して -->
              </div>

              <div class="othersbox">
                <div class="userbox"><!--取引したユーザー情報がここにでる(移動先他者プロフ)-->
                  <div class="top">
                    <a href="/userprof/{{user.F_UserID}}">
                      <figure>
                        <img src="{{ url_for('static', filename='prof_image/' + user.F_ProfileImage)}}" alt="profile_image"></figure>ユーザーアイコン
                    </a>
                  </div>
      
                  <div class="mid"><a href="/userprof/{{user.F_UserID}}">{{ user.F_UserName}}<p id="name"></p></a></div><!-- ユーザーネーム -->

                </div>
              </div>

            </div>
            {% endfor %}
            




          </div>
          <!-- ここまでが履歴 -->


          <div id="num"><!-- ページ遷移リンク -->
            <p>全 {{num_list}} 件中 1 - 20 件を表示</p><!-- ここ、数字のところこいつ使うかも -->
            <div id="numpage">
              <div id="before"><a href="#">＜ 前へ</a></div>
          
              <div id="num_list">
                <ul>
                  <li id="ittan-color"><a href="./product.html">1</a></li><!-- 現在位置 -->
                  <li><a href="./num_two.html">2</a></li><!-- 2page -->
                  <li><a href="./num_three.html">3</a></li><!-- 3page -->
                  <li><a href="./num_for.html">4</a></li><!-- 4page -->
                  <li><a href="./num_five.html">5</a></li><!-- 5page -->
                </ul>
              </div>
          
              <div id="after"><a href="#">次へ ＞</a></div>
            </div>
          </div>


        </div>



      </div><!-- class="wrap" -->

    </main>























{% endblock %}