{% extends "base.html" %}

{% block title %}
-login
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="static/css/login.css">
{% endblock %}

{% block content %}

    <main id="m-sample">

      <div class="wrap">
        <div id="site-image">
          <figure>
            <img src="./static/images/rogo.png" alt="rogo">
          </figure>
        </div>

        <div id="vartical-line"></div>

        <div id="login-form">
          <form method="post" action="/">
            <h1>LOGIN</h1>

            <label for="email">
              <p>メールアドレス</p>
              <input type="email" name="email" id="email" autocomplete="off">
            </label>

            <label for="password">
              <p>パスワード</p>
              <input type="password" name="password" id="password" autocomplete="off">
            </label>

            <input type="submit" value="ログインする" id="bottun">
          </form>

          <a href="/signup">会員登録はこちら</a>
        </div>
      </div><!-- class="wrap" -->

    </main>

{% endblock %}