{% extends "base.html"%}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/board.css">
{% endblock %}

{% block title %}
-lost_petboard
{% endblock%}

{% block content %}
    <main id="m-sample">

      <div class="wrap">

        <div class="foster-wrap">






            <div id="left">

              <div class="b-list">
                <h2>ログイン</h2>
                <p><a href="/lost_post">迷子情報を投稿される方</a></p>
                <p><a href="/foster_post">保護情報を投稿される方</a></p>
              </div>

              <div class="b-list">
                <h2>ご利用案内</h2>
                <ul>
                  <li><a href="/">・初めての方へ</a></li>
                  <li><a href="/">・ペットを保護したら？</a></li>
                  <li><a href="/">・募集・応募について</a></li>
                </ul>
              </div>

              <div class="b-list">
                <h2>飼い主を探す</h2>
                <ul>
                  <li><a href="/">・ペットを探す</a></li>
                  <li><a href="/">・地域を探す</a></li>
                  <li><a href="/">・保護活動者・法人を探す</a></li>
                </ul>
              </div>

            </div><!-- id="left" -->














            <div id="right">

                <p id="link"><a href="/top">Titta</a> > <a href="/lost_board">里親情報一覧</a></p>

                <h2>里親情報一覧</h2>
            <form action="" method="post">

                <div id="all">
                    <div id="square">
                        <div id="up">
                            <div id="type">
                                <h3>種別</h3>
                                <ul>
                                    <li><input type="checkbox" name="syubetu" value="1">すべて</li>
                                    <li><input type="checkbox" name="syubetu" value="2">犬</li>
                                    <li><input type="checkbox" name="syubetu"value="3">猫</li>
                                    <li><input type="checkbox" name="syubetu" value="4">鳥</li>
                                    <li><input type="checkbox" name="syubetu" value="5">小動物</li>
                                    <li><input type="checkbox" name="syubetu" value="6">爬虫類</li>
                                    <li><input type="checkbox" name="syubetu" value="7">魚</li>
                                    <li><input type="checkbox" name="syubetu" value="8">その他</li>
                                </ul>
                            </div>
                            <div id="location">
                                <h3>発見地</h3>
                                <label class="selectbox-002">
                                    <select name="hakkenti">
                                        <option>すべて</option>
                                        <option value="北海道">北海道</option>
                                        <option value="青森県">青森県</option>
                                        <option value="岩手県">岩手県</option>
                                        <option value="宮城県">宮城県</option>
                                        <option value="秋田県">秋田県</option>
                                        <option value="山形県">山形県</option>
                                        <option value="福島県">福島県</option>
                                        <option value="茨城県">茨城県</option>
                                        <option value="栃木県">栃木県</option>
                                        <option value="群馬県">群馬県</option>
                                        <option value="千葉県">千葉県</option>
                                        <option value="東京都">東京都</option>
                                        <option value="神奈川県">神奈川県</option>
                                        <option value="新潟県">新潟県</option>
                                        <option value="富山県">富山県</option>
                                        <option value="石川県">石川県</option>
                                        <option value="福井県">福井県</option>
                                        <option value="山梨県">山梨県</option>
                                        <option value="長野県">長野県</option>
                                        <option value="岐阜県">岐阜県</option>
                                        <option value="静岡県">静岡県</option>
                                        <option value="愛知県">愛知県</option>
                                        <option value="三重県">三重県</option>
                                        <option value="滋賀県">滋賀県</option>
                                        <option value="京都府">京都府</option>
                                        <option value="大阪府">大阪府</option>
                                        <option value="兵庫県">兵庫県</option>
                                        <option value="奈良県">奈良県</option>
                                        <option value="和歌山県">和歌山県</option>
                                        <option value="鳥取県">鳥取県</option>
                                        <option value="島根県">島根県</option>
                                        <option value="岡山県">岡山県</option>
                                        <option value="広島県">広島県</option>
                                        <option value="山口県">山口県</option>
                                        <option value="徳島県">徳島県</option>
                                        <option value="香川県">香川県</option>
                                        <option value="愛媛県">愛媛県</option>
                                        <option value="高知県">高知県</option>
                                        <option value="福岡県">福岡県</option>
                                        <option value="佐賀県">佐賀県</option>
                                        <option value="長崎県">長崎県</option>
                                        <option value="熊本県">熊本県</option>
                                        <option value="大分県">大分県</option>
                                        <option value="宮崎県">宮崎県</option>
                                        <option value="鹿児島県">鹿児島県</option>
                                        <option value="沖縄県">沖縄県</option>
                                    </select>
                                </label>
                            </div>
                            <div id="t_area">
                                <h3>ロスト地</h3>
                                <label class="selectbox-004">
                                    <select name="lostarea">
                                        <option>すべて</option>
                                        <option value="北海道">北海道</option>
                                        <option value="青森県">青森県</option>
                                        <option value="岩手県">岩手県</option>
                                        <option value="宮城県">宮城県</option>
                                        <option value="秋田県">秋田県</option>
                                        <option value="山形県">山形県</option>
                                        <option value="福島県">福島県</option>
                                        <option value="茨城県">茨城県</option>
                                        <option value="栃木県">栃木県</option>
                                        <option value="群馬県">群馬県</option>
                                        <option value="千葉県">千葉県</option>
                                        <option value="東京都">東京都</option>
                                        <option value="神奈川県">神奈川県</option>
                                        <option value="新潟県">新潟県</option>
                                        <option value="富山県">富山県</option>
                                        <option value="石川県">石川県</option>
                                        <option value="福井県">福井県</option>
                                        <option value="山梨県">山梨県</option>
                                        <option value="長野県">長野県</option>
                                        <option value="岐阜県">岐阜県</option>
                                        <option value="静岡県">静岡県</option>
                                        <option value="愛知県">愛知県</option>
                                        <option value="三重県">三重県</option>
                                        <option value="滋賀県">滋賀県</option>
                                        <option value="京都府">京都府</option>
                                        <option value="大阪府">大阪府</option>
                                        <option value="兵庫県">兵庫県</option>
                                        <option value="奈良県">奈良県</option>
                                        <option value="和歌山県">和歌山県</option>
                                        <option value="鳥取県">鳥取県</option>
                                        <option value="島根県">島根県</option>
                                        <option value="岡山県">岡山県</option>
                                        <option value="広島県">広島県</option>
                                        <option value="山口県">山口県</option>
                                        <option value="徳島県">徳島県</option>
                                        <option value="香川県">香川県</option>
                                        <option value="愛媛県">愛媛県</option>
                                        <option value="高知県">高知県</option>
                                        <option value="福岡県">福岡県</option>
                                        <option value="佐賀県">佐賀県</option>
                                        <option value="長崎県">長崎県</option>
                                        <option value="熊本県">熊本県</option>
                                        <option value="大分県">大分県</option>
                                        <option value="宮崎県">宮崎県</option>
                                        <option value="鹿児島県">鹿児島県</option>
                                        <option value="沖縄県">沖縄県</option>
                                    </select>
                                </label>
                            </div>
                            <div id="datetime">
                                <h3>発見日時</h3>
                                <label class="selectbox-003">
                                    <input type="date" name="foundday">
                                </label>
                            </div>
                        </div>
                        <div id="middle">
                            <div id="gen">
                                <h3>性別</h3>
                                <label class="selectbox-002">
                                    <select name="gender">
                                        <option value="">すべて</option>
                                        <option value="男">男の子</option>
                                        <option value="女">女の子</option>
                                        <option value="不明">不明</option>
                                    </select>
                                </label>
                            </div>
                            <div id="kinds">
                                <h3>○○の種類</h3>
                                <label class="selectbox-002">
                                    <select name="kinds">
                                        <option>すべて</option>
                                        <option>柴犬</option>
                                        <option>シマエナガ</option>
                                    </select>
                                </label>
                            </div>
                        </div>
                        <div id="bottom">
                            <div id="word">
                                <h3>フリーワードで探す</h3>
                                <input type="text" name="freeword" class="textbox-001" placeholder="フリーワードを入力する"/>
                            </div>
                            <fieldset class="radio-002">
                              <h3>状況：</h3>
                              <label>
                                  <input type="radio" name="radio-002" checked/>
                                  迷子
                              </label>
                              <label>
                                  <input type="radio" name="radio-002"/>
                                  保護
                              </label>
                          </fieldset>
                        </div>
                    </div>
                    <div id="keep">
                      <a href="#">検索条件を保存する</a>
                    </div>
                    <div id="search">
                      <button type="submit">検索する</button>
                    </div>
                </div>




              <div class="p-similar">

                <div class="similar-wrap">

<!-- viewで実装する際に調整して -->

{% for i in range(12)%}
                  <div class="post">
                    <a href="/lost_detail">
                      <p id="iine"><input type="submit" value="&#xf004;" class="button"></p>
                      <figure>
                        <img src="/static/images/cat.jpeg" alt="sample">
                      </figure>

                      <h3>投稿タイトル</h3>
                      <p><span>種類</span></p>
                      <p><span>性別</span></p>
                      <p><span>発見地</span></p>
                      <p><span>発見日時</span></p>
                      <p><span>状況</span></p>
                    </a>
                  </div><!-- class="post" -->
{% endfor %}




                </div><!-- class="similar-wrap" -->

              </div><!-- class="p-similar" -->
              <!-- ここまで投稿のdiv -->
              <div id="num">
                <p>全 30 件中 1 - 20 件を表示</p>
                <div id="numpage">
                  <div id="before"><a href="#">＜ 前へ</a></div>
              
                  <div id="num_list">
                    <ul>
                      <li id="ittan-color"><a href="./product.html">1</a></li>
                      <li><a href="./num_two.html">2</a></li>
                      <li><a href="./num_three.html">3</a></li>
                      <li><a href="./num_for.html">4</a></li>
                      <li><a href="./num_five.html">5</a></li>
                    </ul>
                  </div>
              
                  <div id="after"><a href="#">次へ ＞</a></div>
                </div>
              </div>

            </div><!-- id="right" -->

        </div>

        




      </div><!-- class="wrap" -->

    </main>






{% endblock %}