{% extends "base.html" %}

{% block title%}
-lost_detail
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="static/css/board_detail.css">
{% endblock %}

{% block content%}

    <main id="m-lost_post">

      <div class="wrap">



        <div class="p_detail-heading">
          <p><a href="foster_board.html"><< 検索に戻る</a></p>
          <p id="p-id">投稿ID:{{ id }}</p>
        </div><!-- class="p_detail-heading" -->







        <div class="p-detail-wrap">



          <div class="p-detail_left">
            <h2>投稿タイトル</h2>
            <div class="post-img">
              <figure>
                <img src="images/pet1.png" alt="petimg">
              </figure>
            </div>


            <h3>基本情報</h3>
            <table>
              <tr>
                <th>状況</th>
                <td colspan="3">{{ jokyo }}</td>
              </tr>
              <tr>
                <th>種類</th>
                <td>{{ syurui }}</td>
                <th>大きさ</th>
                <td>{{ ookisa}}</td>
              </tr>
              <tr>
                <th>性別</th>
                <td>{{ gender }}</td>
                <th>年齢</th>
                <td>{{ nenrei }}</td>
              </tr>
              <tr>
                <th>保護日時</th>
                <td>{{ hogoday }}</td>
                <th>保護場所</th>
                <td>{{ hogoarea }}</td>
              </tr>
              <tr>
                <th>怪我の有無</th>
                <td>{{ kega }}</td>
                <th>体色</th>
                <td>{{ color }}</td>
              </tr>
              <tr>
                <th>掲載日</th>
                <td>{{ keisaibi }}</td>
                <th>掲載期日</th>
                <td>{{ keisaikizitsu}}</td>
              </tr>
              <tr>
                <th>届出済の機関</th>
                <td colspan="3">{{ todokede }}</td>
              </tr>
              <tr>
                <th>特徴</th>
                <td colspan="3">{{ unique }}</td>
              </tr>
            </table>


            <h3>詳細情報</h3>
            <table>
              <tr>
                <th>募集の経緯</th>
                <td>
                  {{ keii }}
                </td>
              </tr>
              <tr>
                <th>性格・特徴</th>
                <td>{{ seikaku }}</td>
              <tr>
                <th>健康状態</th>
                <td>
                  {{ kenkou }}
              </tr>
              <tr>
                <th>引き渡し場所</th>
                <td>
                  {{ hikiwatasiarea }}
                </td>
              </tr>
              <tr>
                <th>その他備考</th>
                <td>
                  {{ bikou }}
                </td>
              </tr>
            </table>


          </div><!-- class="p-detail_left" -->



          <div class="p-detail_right">
            <p>お気に入り登録者数:{{ favorite }}人</p>
            <p id="pet-buttom"><a href="/inquiry">申し込み・お問い合わせ</a></p>
            <p id="font-small">※里親募集者の都合により、応募可能地域外にお住まいの方からのお問い合わせは受け付けていません。
                【応募可能地域】をご確認ください。</p>

            <div class="inquiry-wrap">
              <p id="line-pink">連絡先</p>
              <p>・Twitter：{{ twitter }}<br>
                  ・Instagram：{{ instagram }}<br>
                  ・メールアドレス：{{ mail }}</p>
            </div><!-- class="inquiry-wrap" -->

            <div class="apply-wrap">
              <p class="line-ddd">保護当時の詳細</p>
              <p>{{ syosai }}</p>
            </div><!-- class="apply-wrap" -->

            <div class="recruiter-wrap">
              <p class="line-ddd">投稿者情報</p>
              <div id="re-wrap">
                <div id="pro-img">
                  <figure>
                    <img src="images/pro-icon.png" alt="プロフィール画像">
                  </figure>
                </div><!-- id="pro-img" -->
                <div id="pro-inf">
                  <p>名前：{{ profname }}</p>
                  <p>会員種別：{{ profcate }}</p>
                  <p>法人・団体名：{{ profteam }}</p>
                </div><!-- id="pro-inf" -->
              </div><!-- id="re-wrap" -->

              <div id="pro-msg">
                <p>
                  {{ profmsg }}
                </p>
              </div>
            </div><!-- class="recruiter-wrap" -->



          </div><!-- class="p-detail_right" -->




        </div><!-- class="p-detail-wrap" -->



        <div class="p_detail-heading">
          <p><a href="/foster_board">
              << 検索に戻る</a>
          </p>
        </div><!-- class="p_detail-heading" -->


      </div><!-- class="wrap" -->

    </main>


{% endblock %}












