{% extends "base.html" %}

{% block title %}
-lost_post
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="static/css/foster_post.css">
    <link rel="stylesheet" type="text/css" href="static/css/my_prof_left.css">
{% endblock %}

{% block js %}
<script src="./static/js/lost_post.js"></script>

{% endblock%}

{% block content %}

    <main id="m-sample">

      <div class="wrap">

{% include "myside.html" %}

          <div id="right">

            <div id="detail">
              <h2>里親募集ペットを登録</h2>
              <p id="errtitle"></p>
            </div>



            <form method="post" action="/lost_post_page" enctype="multipart/form-data" onsubmit="return lostsub()">
              <table>
                <tbody>
                  <tr id="keisai">
                    <!-- t_pet -->
                    <td id="keisaiR">掲載期日<p class="hissu">必須</p> <p id="keisaier"></p> </td>
                    <td id="keisaiW">
                      <input type="date" class="textbox-001" name="keisaiW" id="on1" placeholder=""/>
                      <p>（入力例:2023/05/26 の場合  →  20230526）</p>
                    </td>
                  </tr>
                  <tr id="kinds">
                    <!-- t_pet -->
                    <td id="kindsR">ペット種別<p class="hissu">必須</p> <p id="kindser"></p> </td>
                    <td id="kindsW">
                      <label class="selectbox-002">
                        <select name="kindsW" id="on2">
                            <option value="">選択してください</option>
                          {% for categories in category %}
                            <option value="{{categories.F_CategoryID}}">{{ categories.F_CategoryName }}</option>
                          {% endfor %}
                        </select>
                      </label>
                    </td>
                  </tr>
                  <tr id="post">
                    <!-- t_lostpet -->
                    <td id="postR">投稿タイトル</td>
                    <td id="postW">
                      <input type="text" class="textbox-002" name="postW" placeholder=""/>
                    </td>
                  </tr>
                  <tr id="location">
                    <!-- t_lostpet -->
                    <td id="locationR">ペット所在地<p class="hissu">必須</p> <p id="locationer"></p> </td>
                    <td id="locationW">
                      <select name="radio-001">
                        <option value="北海道">北海道</option>
                        <option value="青森県">青森県</option>
                        <option value="岩手県">岩手県</option>
                        <option value="宮城県">宮城県</option>
                        <option value="秋田県">秋田県</option>
                        <option value="山形県">山形県</option>
                        <option value="福島県">福島県</option>
                        <option value="茨城県">茨城県</option>
                        <option value="栃木県">栃木県</option>
                        <option value="群馬県">群馬県</option>
                        <option value="千葉県">千葉県</option>
                        <option value="東京都">東京都</option>
                        <option value="神奈川県">神奈川県</option>
                        <option value="新潟県">新潟県</option>
                        <option value="富山県">富山県</option>
                        <option value="石川県">石川県</option>
                        <option value="福井県">福井県</option>
                        <option value="山梨県">山梨県</option>
                        <option value="長野県">長野県</option>
                        <option value="岐阜県">岐阜県</option>
                        <option value="静岡県">静岡県</option>
                        <option value="愛知県">愛知県</option>
                        <option value="三重県">三重県</option>
                        <option value="滋賀県">滋賀県</option>
                        <option value="京都府">京都府</option>
                        <option value="大阪府">大阪府</option>
                        <option value="兵庫県">兵庫県</option>
                        <option value="奈良県">奈良県</option>
                        <option value="和歌山県">和歌山県</option>
                        <option value="鳥取県">鳥取県</option>
                        <option value="島根県">島根県</option>
                        <option value="岡山県">岡山県</option>
                        <option value="広島県">広島県</option>
                        <option value="山口県">山口県</option>
                        <option value="徳島県">徳島県</option>
                        <option value="香川県">香川県</option>
                        <option value="愛媛県">愛媛県</option>
                        <option value="高知県">高知県</option>
                        <option value="福岡県">福岡県</option>
                        <option value="佐賀県">佐賀県</option>
                        <option value="長崎県">長崎県</option>
                        <option value="熊本県">熊本県</option>
                        <option value="大分県">大分県</option>
                        <option value="宮崎県">宮崎県</option>
                        <option value="鹿児島県">鹿児島県</option>
                        <option value="沖縄県">沖縄県</option>
                      </select>
                    </td>
                  </tr>
                  <tr id="gen">
                    <!-- t_pet -->
                    <td id="genR">性別<p class="hissu">必須</p> <p id="gener"></p> </td>
                    <td id="genW">
                      <fieldset class="radio-002">
                        <label>
                            <input type="radio" name="radio-002" value="男"/>
                            男の子
                        </label>
                        <label>
                            <input type="radio" name="radio-002" value="女"/>
                            女の子
                        </label>
                        <label>
                            <input type="radio" name="radio-002" value="不明"/>
                            不明
                        </label>
                      </fieldset>
                    </td>
                  </tr>
                  <tr id="age">
                    <!-- t_pet -->
                    <td id="ageR">年齢<p class="hissu">必須</p> <p id="ageer"></p> </td>
                    <td id="ageW">
                      <input type="text" class="textbox-001" name="ageW" id="on3" placeholder=""/>
                    </td>
                  </tr>
                  <tr id="size">
                    <!-- t_pet -->
                    <td id="sizeR">大きさ<p class="hissu">必須</p> <p id="sizeer"></p> </td>
                    <td id="sizeW">
                      <input type="text" class="textbox-001" name="sizeW" id="on4" placeholder=""/>
                    </td>
                  </tr>
                  <tr id="hogo">
                    <!-- t_lostpet -->
                    <td id="hogoR">保護日時<p class="hissu">必須</p> <p id="hogoer"></p>     </td>
                    <td id="hogoW">
                      <input type="date" class="textbox-001" id="on5" name="hogoW" placeholder=""/>
                      <p>（入力例:2023/05/26 の場合  →  20230526）</p>
                    </td>
                  </tr>
                  <tr id="hogoplace">
                    <!-- t_lostpet -->
                    <td id="hogoplaceR">保護場所<p class="hissu">必須</p><p id="hogoplaceer"></p> </td>
                    <td id="hogoplaceW">
                      <input type="text" class="textbox-002" id="on6" name="hogoplaceW" placeholder=""/>
                    </td>
                  </tr>
                  <tr id="injury">
                    <!-- t_lostpet -->
                    <td id="injuryR">怪我の有無<p class="hissu">必須</p><p id="injuryer"></p></td>
                    <td id="injuryW">
                      <fieldset class="radio-003">
                        <label>
                            <input type="radio" name="radio-003" value="有り"/>
                            有り
                        </label>
                        <label>
                            <input type="radio" name="radio-003" value="無し"/>
                            無し
                        </label>
                      </fieldset>
                    </td>
                  </tr>
                  <tr id="color">
                    <!-- t_pet -->
                    <td id="colorR">体色<p class="hissu">必須</p><p id="colorer"></p></td>
                    <td id="colorW">
                      <input type="text" class="textbox-002" id="on7" name="colorW" placeholder=""/>
                    </td>
                  </tr>
                  <tr id="institution">
                    <!-- t_lostpet -->
                    <td id="institutionR">届出済の機関</td>
                    <td id="institutionW">
                      <input type="text" class="textbox-002" name="institutionW" placeholder=""/>
                    </td>
                  </tr>
                  <tr id="features">
                    <!-- t_lostpet -->
                    <td id="featuresR">特徴</td>
                    <td id="featuresW">
                      <input type="text" class="textbox-002" name="featuresW" placeholder=""/>
                    </td>
                  </tr>
                  
                  

                  <tr id="background">
                    <!-- t_pet -->
                      <td id="backgroundR">募集の経緯<p class="hissu">必須</p><p id="backgrounder"></p></td>
                      <td class="area"><textarea name="backgroundW" id="on8"></textarea></td>
                    </tr>
                    <tr id="personality">
                      <!-- t_pet -->
                      <td id="personalityR">性格・特徴<p class="hissu">必須</p><p id="personalutyer"></p></td>
                      <td class="area"><textarea name="personalityW" id="on9"></textarea></td>
                    </tr>
                    <tr id="health">
                      <!-- t_pet -->
                      <td id="healthR">健康状態<p class="hissu">必須</p><p id="healther"></p></td>
                      <td class="area"><textarea name="healthW" id="on10"></textarea></td>
                    </tr>
                    <tr id="place">
                      <!-- t_lostpet -->
                      <td id="placeR">引き渡し場所<p class="hissu">必須</p><p id="placer"></p></td>
                      <td class="area"><textarea name="placeW" id="on11"></textarea></td>
                    </tr>
                    <tr id="other">
                      <!-- t_pet -->
                      <td id="otherR">その他備考</td>
                      <td class="area"><textarea name="otherW"></textarea></td>
                    </tr>
                  </tbody>
                </table>


              <h3>ペットの画像</h3>
              <div id="upload">

                <figure id="first">
                  <img src="/static/images/dog.jpg">
                </figure>

                <figure id="second">
                  <img src="/static/images/sima.jpg">
                </figure>

                <div id="info">
                  <p>アップロード可能なファイル種類・・・ jpf / png / gif</p>
                  <p>アップロード可能なファイル容量・・・ 1ファイル最大10BMBまで</p>
                  <p class="color">※推奨サイズ・・・ 縦横 730 px 以上のもの</p>
                  <p class="color">※写真にイラストは使用しないで下さい</p>
                  <p class="color">※直近３か月以内に撮影された画像を使用してください</p>

                  <div id="btn">
                    <!-- t_pet -->
                    <div id="file"><input type="file" name="example"></div>
                  </div>

                </div>

              </div>

              <div id="last">
                <div id="regi"><button type="submit">登録する</button></div>
                <div id="memo"><a href="#">下書きを保存する</a></div>
              </div>
            </form>


          </div>

        </div>
              </div><!-- class="wrap" -->

    </main>

{% endblock %}