{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/my_prof_left.css">
    <!-- ↑左のサイドバーのcss -->
    <!-- ↓ここ編集 -->
    <link rel="stylesheet" type="text/css" href="/static/css/my_profile.css">
{% endblock %}



{% block content %}


    <main id="m-my_profile">

      <div class="wrap">
{% include "myside.html" %}




        <div id="right"><!-- 右 -->

          <h2>マイページ</h2>

          <div id="prof">
            <div id="top">

              <a href="/prof_edit">プロフィールを編集</a><!-- 編集へ -->

              <figure><img id="account-icon" src="/static/prof_image/{{ user.F_ProfileImage }}" alt="デフォルトアイコン"></figure><!-- アップロードしてね -->

            </div>

            <div id="mid"><p id="name"><!-- 編集画面で変更可能 -->{{ user.F_UserName }}</p></div>

            <div id="bot">
              <div id="follow">
                {%if following_count%}
                {{ following_count }}フォロー
                {%else%}
                0フォロー
                {%endif%}
              </div><!--後で0消す-->
              <div id="follower">
                {%if follower_count%}
                {{ follower_count }}フォロワー
                {%else%}
                0フォロワー
                {%endif%}
              </div>
              <div id="star"><figure><img src="/static/images/empty.jpg" alt=""></figure><!-- {{ evaluation_count }} -->278</div><!--一旦写真入れとくプログラムわからん-->
              <div>{{user.F_Profile_Comment}}</div>
            </div>
          </div>

        </div>



      </div><!-- class="wrap" -->

    </main>




{% endblock %}

