
        <div id="left"> <!-- 左 -->

          <div class="setmanage">

            <p class="minitop">商品管理</p>

            <ul>
              <li><a href="/favorites">お気に入り一覧<div class="arrow no1"></div></a></li><!-- favorite.html -->
              <li><a href="/exhibition_list">出品状況<div class="arrow no1"></div></a></li><!-- exhibition_list.html -->
              <!-- <li><a href="/">下書き一覧<div class="arrow no1"></div></a></li> -->
              <li><a href="/">閲覧履歴<div class="arrow no1"></div></a></li><!-- browsing.html -->
              <li><a href="/listing_list">購入履歴<div class="arrow no1"></div></a></li><!-- listing_list.html -->
            </ul>

          </div>

          <div class="setmanage">

            <p class="minitop">売上・ポイント</p>

            <ul>
              <li><a href="/">売上履歴<div class="arrow no1"></div></a></li><!-- earnings_history.html -->
              <li><a href="/">ポイント<div class="arrow no1"></div></a></li><!-- point.html -->
            </ul>

          </div>

          <div class="setmanage">

            <p class="minitop">里親・迷子掲示板</p>

            <ul>
              <li><a href="/">過去の掲載履歴<div class="arrow no1"></div></a></li><!-- petpublish_history.html -->
              <li><a href="/">登録中のペット一覧<div class="arrow no1"></div></a></li><!-- reg_pet.html -->
            </ul>

          </div>

          <div class="setmanage">

            <p class="minitop">コンテスト</p>

            <ul>
              <li><a href="/">開催中のコンテスト<div class="arrow no1"></div></a></li><!-- contest.html -->
              <!-- <li><a href="/">過去のコンテスト参加履歴<div class="arrow no1"></div></a></li> -->
            </ul>

          </div>

          <div class="setmanage">

            <p class="minitop">登録</p>

            <ul>
              <li><a href="/">里親募集ペットを登録<div class="arrow no1"></div></a></li><!-- foster_post.html -->
              <li><a href="/">迷子ペット情報を登録<div class="arrow no1"></div></a></li><!-- lost_post.html -->
              <li><a href="/">譲渡誓約書<div class="arrow no1"></div></a></li><!-- pdfに遷移-->
            </ul>

          </div>

          <div class="setmanage">

            <p class="minitop">設定</p>

            <ul>
              <li><a href="/">お知らせ設定<div class="arrow no1"></div></a></li><!-- notice.html -->
              <li><a href="/">着せ替え設定<div class="arrow no1"></div></a></li><!-- dressup.html -->
            </ul>

          </div>

          <div class="setmanage">

            <p class="minitop">ヘルプ</p>

            <ul>
              <li><a href="/">Q&A<div class="arrow no1"></div></a></li><!-- qa.html -->
              <li><a href="/">お問い合わせ<div class="arrow no1"></div></a></li><!-- inquiry.html -->
            </ul>

          </div>

          <div id="logout"><a href="/logout">ログアウト</a></div>

        </div>
