{% extends "base2.html" %}

{% block title %}
-password_reset
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="static/css/password_reset.css">
{% endblock %}

{% block js%}
     <script type="text/javascript" src="./static/js/password_reset.js"></script>
{% endblock%}

{% block content %}
    <main>
        <div class="wrap">
            <div id="waku">
                <p id="midasi">パスワードの再設定</p>
                <div id="mail_form">
                    <p id="bunn">メールアドレスを入力してください</p>
                    <form id="mail_form2" method="post" onsubmit="return signinsub()" enctype="multipart/form-data">
                        <input type="text" id="email" name="email"><br>
                        <input type="submit" id="btn" name="btn">
                    </form>
                </div>
            </div>
        </div>
    </main>

{% endblock %}