{% extends "base.html" %}

{% block css%}
    <link rel="stylesheet" type="text/css" href="/static/css/my_prof_left.css">
    <!-- ↑左のサイドバーのcss -->
    <!-- ↓ここ編集 -->
    <link rel="stylesheet" type="text/css" href="/static/css/point.css">
{% endblock %}




{% block content %}

    <main id="m-my_profile">

      <div class="wrap">
      {% include "myside.html" %}


        <!-- ↓ここに入力してって -->


        <div id="right"><!-- 右  -->

          <h2>ポイント管理</h2>

          <div id="point"><!-- ポイント表示  -->

            <div id="pointName">
              <p>保有ポイント</p>
            </div>

            <div id="pointManage">

              <figure>
                <img src="/static/images/pointIcon.png" alt="ポイント画像">
              </figure>

              <div id="countBox">
                <p id="pointCount"><!--  -->12345</p><!-- 一旦入れとく -->
                <p id="P">P</p>
              </div>

            </div>
          </div>

          <div class="historyArea">

            <ul class="switching">  <!-- タブメニュー作りたいコーディングたのむ -->
              <li id="onceBorder"><a href="/">ポイント履歴</a></li><!--一旦それっぽくしとく-->
              <li><a href="/">有効期限</a></li>
            </ul>
          
            <div id="history" class="area">

{% set a = ["yy/mm/dd","古戦場から逃げた",1114] %}
<!-- DB連携時書き換えちゃんとお願いね -->
{% for i in range(5) %}

              <div class="minibox">

                <div id="leftBox">
                  <p id="dateBox">{{a[0]}}</p><!-- 2023/08/29  的な情報が入る -->
                  <p id="detailInfo">
                    {{ a[1] }}
                  </p>
                </div>
  
                <div id="rightBox">
                  <p>
                    <!-- {#いずれ   {% if points > 0 %}
                                      +{{ points }}
                                  {% else %}
                                      {{ points }}
                                  {% endif %}って感じになるかな？
                    +なら黒　-なら赤　今は↓  5桁までなら綺麗に並ぶようにはしとく #} -->
                      {{ a[2]}}
                  </p>
                </div>

              </div>
              {% endfor %}


            </div>

            <!-- ↓切り替え先の情報入れるとこ（プログラム書き終えたら追加する） -->

            <!--<div id="date_of_expiry" class="area">

            </div> -->

          </div>





        </div>



      </div><!-- class="wrap" -->

    </main>


{% endblock %}