{% extends "base.html" %}

{% block title %}
-product
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/product.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


{% endblock %}
<script src="/static/./js/bootstrap.min.js"></script>

{% block content %}

    <main id="m-sample">

      <div class="wrap">
        <div id="wrap-left">
        <form action="/narrow" method="post">
          <div id="Refine-search">

            <h2>絞り込み検索</h2>

            <ul>
              <li>
                <p>キーワード</p>
                <input type="text" name="keyword" class="textbox-001" placeholder=""/>
              </li>
              <li>
                <p id="jogai">除外<br>キーワード</p>
                <input type="text" name="exkeyword" class="textbox-001" placeholder=""/>
              </li>
              <li>
                <p>カテゴリー</p>
                  <input type="text" name="" id="">
              </li>
              <li>
                <p id="kakaku">価格</p>
                <input type="text" name="l_price" class="textbox-002" placeholder=""/>
                <input type="text" name="h_price" class="textbox-003" placeholder=""/>
              </li>
            </ul>

            <div id="btn-search">
              <button type="submit">検索する</button>
            </div>

          </div>
        </form>
          <div id="category">
            <p class="category-head">ペットから探す</p>
            <ul>
              <li><a href="#">犬</a></li>
              <li><a href="#">猫</a></li>
              <li><a href="#">小動物</a></li>
              <li><a href="#">鳥</a></li>
              <li><a href="#">爬虫類</a></li>
              <li><a href="#">両生類</a></li>
              <li><a href="#">昆虫</a></li>
              <li><a href="#">淡水魚</a></li>
              <li><a href="#">海水魚</a></li>
            </ul>
            <p class="category-head">カテゴリーから探す</p>
            <ul>
              <li><a href="">ケージ/水槽</a></li>
              <li><a href="">エサ入れ/水入れ</a></li>
              <li><a href="">首輪/リード/ハーネス</a></li>
              <li><a href="">おもちゃ</a></li>
              <li><a href="">キャリーバッグ</a></li>
              <li><a href="">爪とぎ</a></li>
              <li><a href="">ペット家具</a></li>
              <li><a href="">飼育セット</a></li>
              <li><a href="">照明</a></li>
              <li><a href="">保温器具</a></li>
              <li><a href="">床材</a></li>
              <li><a href="">シェルター</a></li>
              <li><a href="">温湿度計/サーモスタット</a></li>
              <li><a href="">ピンセット</a></li>
            </ul>

          </div>

          <div id="advertisement">
            <figure>
              <img src="images/#" alt="koukoku">
            </figure>
            <figure>
              <img src="images/#" alt="koukoku2">
            </figure>
          </div>

        </div>


        <div id="wrap-right">

          <div id="kekka">
            <h2>
              {% if word %}
                {{word}}
              {% elif exword %}
                {{exword}}
              {% elif genre %}
                {{category.F_CategoryName}}
              {% elif l_price %}
                {{l_price}}円以下の商品
              {% elif h_price %}
                {{h_price}}円以下の商品
              {%endif%}
            </h2>
            <p>
              の検索結果
            </p>
          </div>

          <div id="yoko">

            <form method="post">
              <fieldset class="checkbox-001">
                <label>
                    <input type="checkbox" name="checkbox-001"/>
                    販売中のみ
                </label>
              </fieldset>

              <label class="selectbox-001">
                  <select name="selectbox">
                      <option value="おすすめ順">おすすめ順</option>
                      <option value="新しい順">あたらしい順</option>
                      <option value="価格の安い順">価格の安い順</option>
                      <option value="価格の高い順">価格の高い順</option>
                    <!-- <option value="いいね!が多い順">いいね！が多い順</option> -->
                  </select>
              </label>
              <input type="submit" value="sort" id="sort">
            </form>
          </div>



          <div id="itiran">
            <div id="pagesuu">
              <p>約{{num_product}}件中</p>
              
              <p id="nasi">{{ pagination.info }}</p>
            </div>

            <div id="pro-wrap">

        {% for row in rows %}

              <div class="product">
                <a href="/product_detail/{{row.F_ExID}}">
                  <figure class="main">
                    <img src="{{ url_for('static', filename='toredo/' + row.F_ExPhoto)}}" alt="big" id="bigimg">
                  </figure>
                  <h2>
                    {{row.F_ExTitle}}
                  </h2>
                  <div class="heart">
                      {% if products.F_Sold == True%}
                      <p>sold!!</p>
                      {%endif%}

                    <div class="price">

                      <h5>
                        ￥
                      </h5>
                      <p>
                        {{ '{:,.0f}'.format(row.F_ExPrice) }}
                      </p>

                    </div>
                    
                    <form action="/favorite/{{products.F_ExID}}" method="post">
                      <input type="submit" value="&#9829;">
                    </form>

                  </div>

                </a>
              </div>
        {% endfor%}

            </div>
            <div class="paginations">
              <div>
                {{ pagination.links }}
  
              </div>
            </div>
          </div>
          
          

 



        </div>


      </div><!-- class="wrap" -->

    </main>

    <script src="/static/js/product.js"></script>


{% endblock %}