{% extends "base.html" %}

{% block title %}
-product
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/product.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">


{% endblock %}
<script src="/static/js/bootstrap.min.js"></script>

{% block content %}

    <main id="m-sample">

      <div class="wrap">
        <div id="wrap-left">
        <form action="/product_search" method="post">
          <div id="Refine-search">

            <h2>絞り込み検索</h2>

            <ul>
              <li>
                <p>キーワード</p>
                <input type="text" name="keyword" class="textbox-001" placeholder=""/>
              </li>
              <li>
                <p id="jogai">除外<br>キーワード</p>
                <input type="text" name="exkeyword" class="textbox-001" placeholder=""/>
              </li>
              <li>
                <p>カテゴリー</p>
                <select name="genre" id="">
                  {%for categorys in c_category %}
                  <option value="{{categorys.F_CategoryID}}">{{categorys.F_CategoryName}}</option>
                  {%endfor%}
                </select>

              </li>
              <li>
                <p id="kakaku">価格</p>
                <input type="text" name="l_price" class="textbox-002" placeholder=""/>
                <input type="text" name="h_price" class="textbox-003" placeholder=""/>
              </li>
            </ul>

            <div id="btn-search">
              <button type="submit">検索する</button>
            </div>

          </div>
        </form>
          <div id="category">
            <p class="category-head">ペットから探す</p>
            <ul>
              {%for pet in p_category%}
              <li><a href="{{url_for('main.pet_search',category_id=pet.F_CategoryID)}}">{{pet.F_CategoryName}}</a></li>
              {%endfor%}
            </ul>
            <p class="category-head">カテゴリーから探す</p>
            <ul>
              {% for categories in c_category %}
              <li><a href="{{url_for('main.category_search', category_id = categories.F_CategoryID)}}">{{categories.F_CategoryName}}</a></li>
              {% endfor %}
            </ul>

          </div>

          <div id="advertisement">
            <figure>
              <img src="images/#" alt="koukoku">
            </figure>
            <figure>
              <img src="images/#" alt="koukoku2">
            </figure>
          </div>

        </div>


        <div id="wrap-right">

          <div id="kekka">
            <h2>
              {% if word %}
                {{word}}
              {% elif exword %}
                {{exword}}
              {% elif genre %}
                {{category.F_CategoryName}}
              {% elif l_price %}
                {{l_price}}円以上の商品
              {% elif h_price %}
                {{h_price}}円以下の商品
              {%elif category %}
                {{category.F_CategoryName}}
              {%elif category_image %}
                {{category_image.F_CategoryName}}
              {%elif pet_category %}
                {{pet_category.F_CategoryName}}
              {%elif pet_image %}
                {{pet_image.F_CategoryName}}
              {%else%}
                全てのペット
              {%endif%}
            </h2>
            <p>
              の検索結果
            </p>
          </div>

          <div id="yoko">

            <form action="/narrow" method="post">
              <fieldset class="checkbox-001">
                <label>
                    <input type="checkbox" name="checkbox-001"/>
                    販売中のみ
                </label>
              </fieldset>

              <label class="selectbox-001">
                  <select name="selectbox">
                      <option value="おすすめ順">おすすめ順</option>
                      <option value="新しい順">あたらしい順</option>
                      <option value="価格の安い順">価格の安い順</option>
                      <option value="価格の高い順">価格の高い順</option>
                    <!-- <option value="いいね!が多い順">いいね！が多い順</option> -->
                  </select>
              </label>
              <input type="submit" value="sort" id="sort">
            </form>
          </div>



          <div id="itiran">
            <div id="pagesuu">
              <p>約{{num_product}}件中</p>
              
              <p id="nasi">{{ pagination.info }}</p>
            </div>

            <div id="pro-wrap">

        {% for row in rows %}

              <div class="product">
                {%if sort %}
                <a href="/product_detail/{{row['id']}}">
                {%else%}
                <a href="/product_detail/{{row.F_ExID}}">
                {%endif%}
                  <figure class="main">
                    {%if sort %}
                    <img src="{{ url_for('static', filename='toredo/' + row['photo'])}}" alt="big" id="bigimg">
                    {%else%}
                    <img src="{{ url_for('static', filename='toredo/' + row.F_ExPhoto)}}" alt="big" id="bigimg">
                    {%endif%}
                  </figure>
                  <h2>
                    {%if sort %}
                    {{row['title']}}
                    {%else%}
                    {{row.F_ExTitle}}
                    {%endif%}
                  </h2>
                  <div class="heart">
                      {% if row.F_Sold == True%}
                      <p>sold!!</p>
                      {%endif%}

                    <div class="price">

                      <h5>
                        ￥
                      </h5>
                      <p>
                        {%if sort %}
                        {{ '{:,.0f}'.format(row['price']) }}
                        {%else%}
                        {{ '{:,.0f}'.format(row.F_ExPrice) }}
                        {%endif%}
                      </p>

                    </div>
                    
                    <form action="/favorite/{{row.F_ExID}}" method="post">
                      <input type="submit" value="&#9829;">
                    </form>

                  </div>

                </a>
              </div>
        {% endfor%}

            </div>
            <div class="paginations">
              <div>
                {{ pagination.links }}
  
              </div>
            </div>
          </div>
          
          

 



        </div>


      </div><!-- class="wrap" -->

    </main>

    <script src="/static/js/product.js"></script>


{% endblock %}