{% extends "base.html" %}

{% block title %}
-product_detail
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/product_detail.css">
{% endblock %}

{% block js%}
    <script type="text/javascript" src="/static/js/product_detail.js"></script>
{% endblock%}

{% block content %}



    <main id="m-sample">

      <div class="wrap">


    <div id="pankuzu">
      <a href="#">くず</a>>
      <a href="#">くず</a>>
      <a href="/product">商品一覧</a>
    </div>

    <div id="shouhinfl">
      <div id="shouhinfl1">
        <div id="shouhinPic">
          <img src="/static/toredo/{{exhibit.F_ExPhoto}}" alt="">
        </div>
        <div id="shouhinhukusuu">
          <div class="shouhinbetween"></div>
          <div class="shouhinbetween"></div>
          <div class="shouhinbetween"></div>
          <div class="shouhinbetween"></div>
        </div>
      </div>

      <div id="shouhinfl2">
        <p>{{ exhibit.F_ExTitle }}</p>
        <p>{{ exhibit.F_ExhibitID }}</p>
        <div id="flkakaku">
          <p>￥{{ '{:,.0f}'.format(exhibit.F_ExPrice) }} (税込)</p> 
          <a href="#"></a>
          <a href="#"></a>
        </div>

        <a href="/settelement_check/{{exhibit.F_ExID}}" id="ka-to">購入する</a>

        <div id="moxtutomiru">
          <h1 id="shouhinnsetumei1">商品詳細</h1>
          <p id="texttexttext">
            {{ exhibit.F_ExInfo }}
          </p>
          <button id="moxtutomirubotan">もっと見る▽</button>
        </div>

        <div id="shouhinjyouhou">
          <h1 id="shouhinnjyouhoutext">商品情報</h1>
          <table id="shouhinnhyou">
            <tr>
              <th>カテゴリー</th>
              <td>
                <p class="hyounomoji">{{exhibit.F_CategoryID}}</p>
              </td>
            </tr>
            <tr>
              <th>商品の状態</th>
              <td><p class="hyounomoji">{{ exhibit.F_ExSit }}</p></td>
            </tr>
            <tr>
              <th>配送料の負担</th>
              <td><p class="hyounomoji"></p></td>
            </tr>
            <tr>
              <th>配送方法</th>
              <td><p class="hyounomoji">{{ exhibit.F_ExDeli }}</p></td>
            </tr>
            <tr>
              <th>配送元の地域</th>
              <td><p class="hyounomoji">{{user.F_PosttalCode}}</p></td>
            </tr>
          </table>

          <h1 id="saizuchecktext">
            サイズ感を確認する
            <a href="#"></a>
            <a href="#" id="popup-link">見る</a>
          </h1>

          <div id="saizukankakuninnBox">
            <p id="shouhinhyouji">ゲージなど商品を表示</p>
            <div id="popup-container" class="popup-container">
              <img src="/static/images/saizukakuninnPic.png">
              <div id="close-button" class="close-button"></div>
            </div>
          </div>

          

          <h1 id="shuxtupinshaProtext">出品者情報</h1>
          <div id="shuxtupinshaPro">
            <div id="shuxtupinnshaProPic">
              <img src="{{ url_for('static', filename='prof_image/' + users.F_ProfileImage)}}" alt="profile_image" style="width: 80px; height:80px; border-radius:50%;">
            </div>
            <div id="namaetofollow">
              <a href="/userprof/{{users.F_UserID}}">{{ users.F_UserName}}</a>
              <form action="/add_friend/{{ users.F_UserID }}" method="post">
                <input type="submit" value="フォロー">
              </form>
              <a href="#" id="reviewhoshi"></a>
              <p></p>
            </div>
          </div>
        </div>
      </div>

    </div>

    <p id="osusume">こちらの商品もおすすめです</p>
    <div id="osusumeshouhin">
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
      <a href="#"></a>
    </div>
      </div><!-- class="wrap" -->

    </main>

{% endblock %}