{% extends "base.html" %}

{% block css%}
    <link rel="stylesheet" type="text/css" href="/static/css/my_prof_left.css">
    <!-- ↑左のサイドバーのcss -->
    <!-- ↓ここ編集 -->
    <link rel="stylesheet" type="text/css" href="/static/css/reg_pet.css">
{% endblock%}

{% block title%}
-reg_pet
{% endblock %}

{% block content%}

    <main id="m-my_profile">

      <div class="wrap">
{% include "myside.html" %}







        <!-- ↓ここに入力してって -->


        <div id="right"><!-- 右  -->

          <div id="title">
            <h2>登録中のペット一覧</h2>
          </div>

          
          <div id="yoko">

            <fieldset class="checkbox-001">
              <label>
                  <input type="checkbox" name="checkbox-001" checked/>
                  掲載中のペット表示
              </label>
            </fieldset>

            <fieldset class="checkbox-001">
              <label>
                  <input type="checkbox" name="checkbox-001" checked/>
                  掲載解除中のペット表示
              </label>
            </fieldset>


          </div>



          <div id="itiran">
            <div id="pagesuu">
              <p>約6917件中</p><!--{{count}}入れる-->
              <p id="nasi">1-7件</p><!--同じく-->
            </div>

            <div id="pro-wrap">

{% set a = ["/static/images/bed.jpg", "/static/images/active.png", "a[2]", "a[3]", "a[4]", "a[5]"] %}

{% for i in range(12)%}
              <div class="product">
                <a href="/product_detail?id={{i}}"><!-- 商品詳細ページへ -->
                  <div class="proImg">
                    <figure class="main">
                      <img src="{{ a[0] }}" alt="サンプル画像">
                      <img src="{{ a[1] }}" alt="商品状態" class="situ"><!--ココを商品の状態を表す画像にする、やり方わからん-->
                    </figure>
                  </div>
                </a>

                <div class="pro_detail">
                  <a href="/product_detail?id={{i}}"><!-- 商品詳細ページへ -->
                    <h2>{{ a[2] }}</h2><!--ココ、文字数制限かけてーそれ以上なら...って感じで-->
                  </a>

                  <div class="more_detail">
                    <p><span>種類</span>{{ a[3] }}</p>
                    <p><span>名前</span>{{ a[4] }}</p>
                    <p><span>状況</span>{{ a[5] }}</p>
                  </div>
                </div>

              </div>

{% endfor %}


            </div>

          </div>

          <div id="num">
            <p>全 30 件中 1 - 20 件を表示</p>
            <div id="numpage">
              <div id="before"><a href="#">＜ 前へ</a></div>

              <div id="num_list">
                <ul>
                  <li id="ittan-color"><a href="./product.html">1</a></li>
                  <li><a href="./num_two.html">2</a></li>
                  <li><a href="./num_three.html">3</a></li>
                  <li><a href="./num_for.html">4</a></li>
                  <li><a href="./num_five.html">5</a></li>
                </ul>
              </div>

              <div id="after"><a href="#">次へ ＞</a></div>
            </div>
          </div>







        </div>



      </div><!-- class="wrap" -->

    </main>


{% endblock %}