{% extends "base.html" %}

{% block css%}
    <link rel="stylesheet" type="text/css" href="/static/css/my_prof_left.css">
    <!-- ↑左のサイドバーのcss -->
    <!-- ↓ここ編集 -->
    <link rel="stylesheet" type="text/css" href="/static/css/setting.css">
{% endblock %}

{% block title%}
-setting
{% endblock %}

{% block content %}

    <main id="m-my_profile">

      <div class="wrap">
{% include "myside.html" %}



        <!-- ↓ここに入力してって -->


        <div id="right"><!-- 右  -->
          <div>
            <h2><u>通知設定</u></h2>
            <table>
              <tr>
                <td><p>いいね！</p></td>
                <td><label class="toggle-button-001">
                <input type="checkbox"/ name="check" value="">
                </label></td>
              </tr>
              <tr>
                <td><p>ユーザーフォロー</p></td>
                <td><label class="toggle-button-001">
                <input type="checkbox"/ name="check" value="">
                </label></td>
              </tr>
              <tr>
                <td><p>ユーザー登録</p></td>
                <td><label class="toggle-button-001">
                <input type="checkbox"/ name="check" value="">
                </label></td>
              </tr>
              <tr>
                <td><p>コメント</p></td>
                <td><label class="toggle-button-001">
                <input type="checkbox"/ name="check" value="">
                </label></td>
              </tr>
              <tr>
                <td><p>取引関連(購入・取引キャンセル)</p></td>
                <td><label class="toggle-button-001">
                <input type="checkbox"/ name="check" value="">
                </label></td>
              </tr>
              <tr>
                <td><p>フォロー中のユーザーの出品</p></td>
                <td><label class="toggle-button-001">
                <input type="checkbox"/ name="check" value="">
                </label></td>
              </tr>
              <tr>
                <td><p>アナウンス</p></td>
                <td><label class="toggle-button-001">
                <input type="checkbox"/ name="check" value="">
                </label></td>
              </tr>
              <tr>
                <td><p>コンテスト関連(結果・告知)</p></td>
                <td><label class="toggle-button-001">
                <input type="checkbox"/ name="check" value="">
                </label></td>
              </tr>
              <tr>
                <td><p>ログイン関連(何日連続ログインしたか、あと何日でボーナスが発生するか)</p></td>
                <td><label class="toggle-button-001">
                <input type="checkbox"/ name="check" value="">
                </label></td>
              </tr>
              <tr>
                <td><p>譲渡会関連(告知)</p></td>
                <td><label class="toggle-button-001">
                <input type="checkbox"/ name="check" value="">
                </label></td>
              </tr>
              <tr>
                <td><p>里親・迷子に関するお知らせ</p></td>
                <td><label class="toggle-button-001">
                <input type="checkbox"/ name="check" value="">
                </label></td>
              </tr>
              <tr>
                <td><p>サイト内広告の受け取り</p></td>
                <td><label class="toggle-button-001">
                <input type="checkbox"/ name="check" value="">
                </label></td>
              </tr>
              <tr>
                <td><p>ポイントの有効期限情報</p></td>
                <td><label class="toggle-button-001">
                <input type="checkbox"/ name="check" value="">
                </label></td>
              </tr>
            </table>
          </div>
          <div>
            <div id="yoko">
                <h2><u>メール通知設定</u></h2>
                <p>メール通知をONにする</p>
                <label class="toggle-button-001">
                    <input type="checkbox"/ name="check" value="">
                </label>
            </div>
            <table>
              <tr>
                <td class="kuu"><p>Tittaからのお知らせ</p></td>
                <td><label class="toggle-button-001">
                <input type="checkbox"/ name="check" value="">
                </label></td>
              </tr>
              <tr>
                <td class="kuu"><p>取引関連</p></td>
                <td><label class="toggle-button-001">
                <input type="checkbox"/ name="check" value="">
                </label></td>
              </tr>
              <tr>
                <td class="kuu"><p>いいね！した商品の値下げ</p></td>
                <td><label class="toggle-button-001">
                <input type="checkbox"/ name="check" value="">
                </label></td>
              </tr>
            </table>
          </div>

          <!-- my_profile -->
          <a href="/my_profile" id="idou">登録したメールアドレスの変更はこちら　〉</a>

        </div>



      </div><!-- class="wrap" -->

    </main>



{% endblock %}
