{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/settelement_check.css">
{% endblock %}

{% block title %}
-settelement_check
{% endblock %}


{% block content %}

    <main id="m-my_profile">

      <div class="wrap">









        <!-- ↓ここに入力してって -->


        <div id="right"><!-- 右  -->
          <h1>決済確認</h1>
          <div id="select">
            <form id="formr" method="post">
              <table>
                <tr>
                  <td><label>ポイント</label></td>
                  <td><select name="point" id="point" onchange="viewChange();">
                    <option value="no">利用しない</option>
                    <option value="yes">利用する</option>
                  </select><div id="Box" style="display:none;"><label id="siyoul">使用するポイント数</label><input type="text" name="pointnum" id="siyou"></div></td>
                </tr>
                <!-- <input type="text" name=""> -->
                <tr>
                  <td><label>クーポン</label></td>
                  <td><select name="ku-pon" id="ku-pon">
                    <option value="0">利用可能なクーポンがｘ枚あります</option>
                    <option value="10">クーポン１０％</option>
                    <option value="20">クーポン２０％</option>
                    <option value="30">クーポン３０％</option>
                  </select></td>
                </tr>
                <tr>
                  <td><label>決済方法</label></td>
                  <td><select name="card" id="card" onchange="viewChange2();">
                    <option value="select1">カード１</option>
                    <option value="select2">かーど２</option>
                    <option value="select3">カード３</option>
                  </select>
                  <div id="Box2" style="display:none;">
                    <div>
                      <label class="boxl">カード番号</label><input type="text" name="cardnum">
                      <label class="boxl">有効期限</label><select name="mmyy" class="yukou">
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                      </select>/<select name="" class="yukou">
                        <option value="">23</option>
                        <option value="">24</option>
                        <option value="">25</option>
                        <option value="">26</option>
                        <option value="">27</option>
                        <option value="">28</option>
                        <option value="">29</option>
                        <option value="">30</option>
                        <option value="">31</option>
                        <option value="">32</option>
                        <option value="">33</option>
                        <option value="">34</option>
                        <option value="">35</option>
                        <option value="">36</option>
                        <option value="">37</option>
                        <option value="">38</option>
                      </select>
                    </div>
                    <div id="yplp">
                      <label class="boxl">名義人</label><input type="text" name="username" id="meigi">
                      <label class="boxl">CVV</label><input type="text" name="cvv" id="cvv">
                    </div>
                    <div>
                      <input type="submit" name="check" value="確認" id="btn2">
                    </div>
                  </div>
                  </td>
                </tr>
              </table>
            </form>
          </div>

          <div id="kei">
            <div id="ue">
              <p id="pp">小計：￥{{ exhibit.F_ExPrice }} ポイント利用：なし クーポン利用：なし</p>
            </div>
            <div id="sita">
              <h2 id="hh">支払合計：￥{{ cart_price }}
              取得ポイント：{{ points }}</h2>
            </div>
          </div>

          <form method="post">
          <div id="list">
            <h1>購入商品</h1>
            <div id="product">
              <img src="{{ url_for('static', filename='toredo/' + exhibit.F_ExPhoto)}}" alt="big" id="bigimg" style="height: 100px;">
              <div id="setu">
                <p>商品名：{{ exhibit.F_ExTitle }}</p>
                <p>説明：{{ exhibit.F_ExInfo }}</p>
                <p>値段：￥{{ cart_price }}</p>
                <p>ポイント：{{ user_point.F_PointQuantity }}</p>
              </div>
            </div>
          </div>
          <input type="submit" form="formr" value="購入を確定する" id="btn" name="comp">
        </div>
        </form>


      </div><!-- class="wrap" -->
    <script type="text/javascript" src="/static/js/settelement_check.js"></script>
    </main>


{% endblock %}





