{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/settelement_check.css">
{% endblock %}

{% block title %}
-settelement_check
{% endblock %}


{% block content %}

    <main id="m-my_profile">

      <div class="wrap">


        <!-- ↓ここに入力してって -->


        <div id="right"><!-- 右  -->
          <h1>- 購入手続き -</h1>

          <form method="post">
            <div id="list">
              <div id="product">
                <img src="{{ url_for('static', filename='toredo/' + exhibit.F_ExPhoto)}}" alt="big" id="bigimg">
                <div id="setu">

                  <div class="flex_infomation">
                    <p class="btndesign1">商品名</p>
                    <p class="hidariniawasete">{{ exhibit.F_ExTitle }}</p>
                  </div>

                    <p id="btndesign2">詳細説明</p>
                    <p id="sitaniyohakuakete">{{ exhibit.F_ExInfo }}</p>

                  <div class="flex_infomation">
                    <p class="btndesign1">支払い金額</p>
                    <p class="hidariniawasete">
                      {%if cart_price %}
                      &yen; {{ cart_price }} -
                      {%else%}
                      &yen; {{ exhibit.F_ExPrice }} -
                      {%endif%}
                    </p>
                  </div>

                  <div class="flex_infomation">
                    <p class="btndesign1">獲得P</p>
                    <p class="hidariniawasete">{{ k_point }}P</p>
                  </div>

                </div>
              </div>
            </div>
          </form>

          <div id="select">
            <form id="formr" method="post">
              <table>
                <tr>
                  <td><label>ポイント</label></td>
                  <td><select name="point" id="point" onchange="viewChange();">
                    <option value="no">利用しない</option>
                    <option value="yes">利用する</option>
                  </select><div id="Box" style="display:none;"><label id="siyoul">使用するポイント数</label><input type="text" name="pointnum" id="siyou"></div></td>
                </tr>
                <!-- <input type="text" name=""> -->
                <tr>
                  <td><label>クーポン</label></td>
                  <td>
                    <select name="ku-pon" id="ku-pon">
                    <option value="0">利用可能なクーポン</option>
                    {%for coupon in coupon_info%}
                    <option value="{{coupon.id}}">{{coupon.name}}:{{coupon.Quantity}}枚</option>
                    {%endfor%}
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><label>決済方法</label></td>
                  <td><select name="card" id="card" onchange="viewChange2();">
                    <option value="select1">選択する</option>
                    <option value="select2">Titta card</option>
                    <option value="select3">オンライン決済</option>
                  </select>
                  <div id="Box2" style="display:none;">
                    <div>
                      <input type="submit" name="check" value="確認" id="btn2" onclick="return settelesub()">
                    </div>
                  </div>
                  </td>
                </tr>   
              </table>
            </form>
          </div>

          <div id="kei">
            <div id="ue">
              <p id="pp">小計：￥{{ '{:,.0f}'.format(exhibit.F_ExPrice) }}
                 ポイント利用：
                 {%if points%}
                  はい
                 {%else%}
                  無し
                 {%endif%}
                 クーポン利用：
                 {%if coupon%}
                 はい
                 {%else%}
                 なし
                 {%endif%}
                </p>
            </div>
            <div id="sita">
              <h2 id="hh">支払合計：￥
                {%if cart_price %}
                {{ cart_price }}
                {%elif cart_price == 0 %}
                0
                {%endif%}
              取得ポイント：
              {%if points%}
                {{ points }}
              {%else%}
                0
              {%endif%}
              </h2>
            </div>
          </div>

          <input type="submit" form="formr" value="購入を確定する" id="btn" name="comp" onclick="return setteledialog()">



      </div><!-- class="wrap" -->
    <script type="text/javascript" src="/static/js/settelement_check.js"></script>
    </main>


{% endblock %}





