{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/settelement_check.css">
{% endblock %}

{% block title %}
-settelement_check
{% endblock %}


{% block content %}

    <main id="m-my_profile">

      <div class="wrap">


        <!-- ↓ここに入力してって -->


        <div id="right"><!-- 右  -->
          <h1>- 購入手続き -</h1>

          <form method="post">
            <div id="list">
              <div id="product">
                <img src="{{ url_for('static', filename='toredo/' + exhibit.F_ExPhoto)}}" alt="big" id="bigimg">
                <div id="setu">

                  <div class="flex_infomation">
                    <p class="btndesign1">商品名</p>
                    <p class="hidariniawasete">{{ exhibit.F_ExTitle }}</p>
                  </div>

                    <p id="btndesign2">詳細説明</p>
                    <p id="sitaniyohakuakete">{{ exhibit.F_ExInfo }}</p>

                  <div class="flex_infomation">
                    <p class="btndesign1">支払い金額</p>
                    <p class="hidariniawasete">
                      {%if cart_price %}
                      &yen; {{ cart_price }} -
                      {%else%}
                      &yen; {{ exhibit.F_ExPrice }} -
                      {%endif%}
                    </p>
                  </div>

                  <div class="flex_infomation">
                    <p class="btndesign1">獲得P</p>
                    <p class="hidariniawasete">{{ k_point }}P</p>
                  </div>

                </div>
              </div>
            </div>
          </form>

          <div id="select">
            <form id="formr" method="post">
              <table>
                <tr>
                  <td><label>ポイント</label></td>
                  <td><select name="point" id="point" onchange="viewChange();">
                    <option value="no">利用しない</option>
                    <option value="yes">利用する</option>
                  </select><div id="Box" style="display:none;"><label id="siyoul">使用するポイント数</label><input type="text" name="pointnum" id="siyou"></div></td>
                </tr>
                <!-- <input type="text" name=""> -->
                <tr>
                  <td><label>クーポン</label></td>
                  <td>
                    <select name="ku-pon" id="ku-pon">
                    <option value="0">利用可能なクーポン</option>
                    {%for coupon in coupon_info%}
                    <option value="{{coupon.id}}">{{coupon.name}}:{{coupon.Quantity}}枚</option>
                    {%endfor%}
                    </select>
                  </td>
                </tr>
                <tr>
                  <td><label>決済方法</label></td>
                  <td><select name="card" id="card" onchange="viewChange2();">
                    <option value="select1">選択する</option>
                    <option value="select2">Titta card</option>
                    <option value="select3">クレジットカード</option>
                  </select>
                  <div id="Box2" style="display:none;">
                    <div>
                      <label class="boxl">カード番号</label><input type="text" name="cardnum" id="cardnum">
                      <label class="boxl">有効期限</label><select name="mmyy" class="yukou" id="yukou">
                        <option value="1">01</option>
                        <option value="2">02</option>
                        <option value="3">03</option>
                        <option value="4">04</option>
                        <option value="5">05</option>
                        <option value="6">06</option>
                        <option value="7">07</option>
                        <option value="8">08</option>
                        <option value="9">09</option>
                        <option value="10">10</option>
                        <option value="11">11</option>
                        <option value="12">12</option>
                      </select>/<select name="" class="yukou" id="yukou2">
                        <option value="">23</option>
                        <option value="">24</option>
                        <option value="">25</option>
                        <option value="">26</option>
                        <option value="">27</option>
                        <option value="">28</option>
                        <option value="">29</option>
                        <option value="">30</option>
                        <option value="">31</option>
                        <option value="">32</option>
                        <option value="">33</option>
                        <option value="">34</option>
                        <option value="">35</option>
                        <option value="">36</option>
                        <option value="">37</option>
                        <option value="">38</option>
                      </select>
                    </div>
                    <div id="yplp">
                      <label class="boxl">名義人</label><input type="text" name="username" id="meigi">
                      <label class="boxl">CVV</label><input type="text" name="cvv" id="cvv">
                    </div>
                    <div>
                      <input type="submit" name="check" value="確認" id="btn2" onclick="return settelesub()">
                    </div>
                  </div>
                  </td>
                </tr>   
              </table>
            </form>
          </div>

          <div id="kei">
            <div id="ue">
              <p id="pp">小計：￥{{ '{:,.0f}'.format(exhibit.F_ExPrice) }} ポイント利用：なし クーポン利用：なし</p>
            </div>
            <div id="sita">
              <h2 id="hh">支払合計：￥{{ cart_price }}
              取得ポイント：{{ points }}</h2>
            </div>
          </div>

          <input type="submit" form="formr" value="購入を確定する" id="btn" name="comp" onclick="return setteledialog()">



      </div><!-- class="wrap" -->
    <script type="text/javascript" src="/static/js/settelement_check.js"></script>
    </main>


{% endblock %}





