{% extends "base.html" %}

{% block title %}
-signin
{% endblock %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="static/css/signin.css">
{% endblock %}

{% block js%}
     <script type="text/javascript" src="./static/js/signin.js"></script>
{% endblock%}

{% block content %}

    <main id="m-sample">

      <div class="wrap">

        <div id="sign-main">
          <!-- 見出し -->
          <h1>新規会員登録</h1>
          <hr noshade="">

          <!-- ユーザー登録フォーム -->
          <div id="center">
            <form  method="post" onsubmit="return signinsub()" enctype="multipart/form-data">

              <h1>ログイン情報</h1>
              <hr noshade="" class="under-line">

              <!-- メールアドレス -->
              <label for="email">
                <p>メールアドレス</p>
                <p class="red">※必須</p>
                <input type="email" name="email" id="email" class="email" placeholder="例&#41 nhsxxxxx@nhs.hal.ac.jp" autocomplete="off">
              </label>

              <label for="email">
                <p>メールアドレス&#40再確認&#41</p>
                <p class="red">※必須</p>
                <input type="email" name="email_conform" id="reemail" class="email-sai" placeholder="確認のため、もう一度入力してください" autocomplete="off">
              </label>

              <!-- パスワード -->
              <label for="Password">
                <p>Password</p>
                <p class="red">※必須</p>
                <input type="password" name="password" id="Password" class="password" placeholder="半角英数字8~32文字"  autocomplete="off">
              </label>

              <label for="Password">
                <p>Password&#40再確認&#41</p>
                <p class="red">※必須</p>
                <input type="password" name="password_conform" id="rePassword" class="Password" placeholder="確認のため、もう一度入力してください" autocomplete="off">
              </label>

              <h1>お客様情報</h1>
              <hr noshade="" class="under-line">

              <!-- お名前 -->
              <label for="name">
                <p>お名前</p>
                <p class="red">※必須</p>
                <p class="name-sei">性</p>
                <input type="text" name="sei" id="name" placeholder="例&#41 福田" autocomplete="off">
                <p class="name-mei">名</p>
                <input type="text" name="mei" id="name" placeholder="例&#41 和真" autocomplete="off">
              </label>

              <!-- お名前(カナ) -->
              <label for="name-kana">
                <p>お名前&#40カナ&#41</p>
                <p class="red">※必須</p>
                <p class="name-skana">性</p>
                <input type="text" name="sei-kana" id="name-kana" placeholder="例&#41 フクタ" autocomplete="off">
                <p class="name-mkana">名</p>
                <input type="text" name="mei-kana" id="name-kana" placeholder="例&#41 カズマ" autocomplete="off">
              </label>

              <!-- ユーザー名 -->
              <label for="username">
                <p>ニックネーム</p>
                <p class="red">※必須</p>
                <input type="text" name="username" id="username">
              </label>

              <!-- 生年月日 -->
              <div id="date">
                <p>生年月日</p>
                <label for="year">
                  <select name="year" id="year"></select>
                </label>
                <label for="month">
                  <select name="month" id="month"></select>
                </label>
                <label for="day">
                  <select name="day" id="day"></select>
                </label>
              </div>

              <!-- 性別 -->
              <label for="seibetu">
                <p>性別</p>
                <input type="radio" name="seibetu" id="seibetu" class="seibetu-man" value="man">男
                <input type="radio" name="seibetu" id="seibetu" class="seibetu-woman" value="woman">女
                <input type="radio" name="seibetu" id="seibetu" class="seibetu-gender" value="gender">その他
              </label>

              <!-- 電話番号 -->
              <label for="telphone">
                <p>電話番号</p>
                <p class="red">※必須</p>
                <input type="tel" name="telphone" id="telphone" placeholder="例&#41 090-xxxx-xxxx" autocomplete="off">
              </label>

              <!-- 郵便番号 -->
              <label for="yuubin">
                <p>郵便番号</p>
                <p class="red">※必須</p>
                <input type="text" name="yuubin" id="yuubin"  placeholder="例&#41 〒xxx-xxxx" autocomplete="off">
              </label>

              <!-- 住所 -->
              <label for="address">
                <p>住所</p>
                <p class="red">※必須</p>
                <input type="text" name="address" id="address" placeholder="例&#41 愛知県名古屋市中村区名駅4-27-1" autocomplete="off">
              </label>

              <!-- プロフ画像 -->
              <label for="prof-image">
                <p>プロフィール画像</p>
                <p class="red">※必須</p>
                <input type="file" name="prof_image" id="prof-image" >
              </label>
              <!-- 送信ボタン -->
              <input type="submit" value="同意して確認画面へ" id="bottun">

            </form>
          </div>
        </div>




      </div><!-- class="wrap" -->

    </main>


{% endblock %}