{% extends "base.html" %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="/static/css/user_profile.css">
{% endblock%}


{% block title %}
-user_profile
{% endblock %}




{% block content %}

    <main id="m-user_profile">

      <div class="wrap">

        <div id="userProf">
          <div id="top">

            <div id="t_left">
              <figure>
                {% if users.F_ProfileImage %}
                <a href="/myprof"><img src="{{ url_for('static', filename='prof_image/' + users.F_ProfileImage)}}" alt="profile_image" style="height: 25px; border:solid 1px; border-radius:100%;"></a>
                {% else %}
                <a href="/myprof"><input type="submit" value="&#xf007;" class="button"></a>
                {% endif %}               
              </figure>
            </div>

            <div id="t_mid">
              <div id="userName"><!--ユーザー名ここ-->
                {{ users.F_UserName }}
              </div>

              <div id="eva">
                <div id="starBox"><!--評価数を表す星-->
                  <span class="s_one">&#9733;</span>
                  <span class="s_two">&#9733;</span>
                  <span class="s_three">&#9733;</span>
                  <span class="s_four">&#9733;</span>
                  <span class="s_five">&#9733;</span>
                </div>

                <p>{{ user[1] }}</p><!--ココ、評価数、この数字後で{{count}}に変更-->
              </div>
            </div>

            <div id="t_right">
              <form action="/add_friend/{{users.F_UserID}}" method="post">
                <input type="submit" id="followBtn" value="＋ フォロー">
              </form>
            </div>

            
          </div>

          <div id="top_down">
            <div id="exhibitsNum"><p>出品数</p></div><!-- ココの20000をに変えるからいずれ消す -->

            <div id="follow">{{ following_count }}フォロー</div><!--後で0消す-->
            <div id="follower">{{ followers_count }}フォロワー</div>
          </div>












          


          <div id="itiran">
            <fieldset class="checkbox-001">
              <label>
                  <input type="checkbox" name="checkbox-001" checked/>
                  <p>出品中のみ表示</p>
              </label>
            </fieldset>

            <div id="pro-wrap">

{% for exhibit in exhibits %}

              <div class="product">
                <a href="/"><!-- 商品詳細ページへ -->
                  <div class="proImg">
                    <figure class="main">
                      <img src="/static/toredo/{{exhibit.F_ExPhoto}}" alt="サンプル画像">
                    </figure>
                  </div>
                </a>

                <div class="pro_detail">
                  <a href="/product_detail/{{exhibit.F_ExID}}"><!-- 商品詳細ページへ -->
                    <h2>{{exhibit.F_ExInfo}}</h2><!--ココ、文字数制限かけてーそれ以上なら...って感じで-->
                  </a>

                  <div class="heart">
                    <div class="price">
                      <h5>
                        ￥<!--ココは固定-->
                      </h5>
                      <p>
                        {{exhibit.F_ExPrice}}<!--ココ、商品の値段入れて-->
                      </p>
                    </div>
                      
                    <figure>
                      <img src="/static/images/heart.png" alt="いいね">
                    </figure><!--クリックしてアニメーションつけるなら変更しないといけない。-->
                  </div>
                </div>

              </div>
              {% endfor %}



            </div><!-- pro-wrap -->

<!---------------------------------------------------->

            <div id="pro-wrap-ad" style="display: none;"><!-- ココ、ボタンを押すと追加で出てくるとこ -->

              <div class="product">
                <a href="/product/{{exhibits.F_ExID}}"><!-- 商品詳細ページへ -->
                  <div class="proImg">
                    <figure class="main">
                      <img src="/static/toredo/{{exhibits.F_ExPhoto}}" alt="サンプル画像">
                    </figure>
                  </div>
                </a>

                <div class="pro_detail">
                  <a href="/"><!-- 商品詳細ページへ -->
                    <h2>{{exhibits.F_ExInfo}}</h2><!--ココ、文字数制限かけてーそれ以上なら...って感じで-->
                  </a>

                  <div class="heart">
                    <div class="price">
                      <h5>
                        ￥<!--ココは固定-->
                      </h5>
                      <p>
                        {{exhibits.F_ExPrice}}<!--ココ、商品の値段入れて-->
                      </p>
                    </div>
                      
                    <figure>
                      <img src="/static/images/heart.png" alt="いいね">
                    </figure><!--クリックしてアニメーションつけるなら変更しないといけない。-->
                  </div>
                </div>

              </div>

            </div>

            <div id="btnPosition">
              <input type="button" id="load-more-button" value="もっと見る">
            </div>

          </div>












        </div>




      </div><!-- class="wrap" -->

    </main>




{% endblock %}