

#atama img{
  padding: 30px;
  width: 1200px;
}

#title{
  width: 100%;
  padding: 0 200px;
  text-align: center;
}
#mozi{
  font-size: 2rem;
  padding: 75px;
  border-top:#E5857B 3px solid;
  border-bottom:#E5857B 3px solid;
}
#kigen{
  font-size: 1.2rem;
  display: flex;
  padding: 20px 0 0 550px;
}
#kigen #a{
  color: white;
  background-color: #E5857B;
  padding: 7px;
  border:#E5857B 1px solid;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 20px;
}
#kigen #b{
  color: #E5857B;
  padding: 7px;
  border:#E5857B 1px solid;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}


#detail{
  display: flex;
  flex-wrap: wrap;
  padding: 30px;
  margin: 50px;
  border: 1px solid #ddd;
  border-radius: 50px;
}
.item{
  height: auto;
  padding: 20px 22px;
}
.img{
  width: 300px;
  height: 220px; /* kari  */
}
.text{
  margin: 10px 0 0 0;
  width: 300px;
  border: 1px solid;
  border-radius: 10px;
  height: 100px;
}
.text h3{
  padding: 5px;
}
.text p{
  padding: 10px;
  text-align: center;
}
.text .name{
  font-size: 0.5rem;
}





#num{
  width: 500px;
  margin: 40px auto 0 auto;
  
}
#num p{
  font-size: 0.9rem;
  margin: 0 0 15px 0;
  text-align: center;
  color: #7D8BAE;
}

#numpage{
  display: flex;
  justify-content: space-around;
}

#numpage #before{
  margin: 13px 10px 0 0;
}

#numpage #before a{
  padding: 8px 10px 8px 15px;
  border: #7D8BAE 1px solid;
  white-space: nowrap;
  height: 42px;
  text-decoration: none;
  color: #7D8BAE;
}
#numpage #before a:hover{
  text-decoration: none;
  background-color: #7D8BAE;
  color: #fff;
}

#num_list{
  text-align: center;
  margin: 13px 0 0 0;
}

#num_list ul{
  display: flex;
  justify-content: center;
}

#num_list ul li{
  text-decoration: none;
  list-style: none;
  justify-content: space-around;
  padding: 0 12px;
}

#num_list ul li a{
  color: #7D8BAE;
  padding: 8px 20px;
  border: #7D8BAE 1px solid;
  text-decoration: none;
}
#num_list ul li a:hover{
  color: #fff;
  background-color: #7D8BAE;
  padding: 8px 20px;
  border: #7D8BAE 1px solid;
  text-decoration: none;
}

#num_list ul #ittan-color a{
  background-color: #7D8BAE;
  color: white;
}





#numpage #after{
  margin: 13px 0 0 5px;
}

#numpage #after a{
  padding: 8px 15px 8px 10px;
  border: #7D8BAE 1px solid;
  white-space: nowrap;
  height: 42px;
  color: #7D8BAE;
  text-decoration: none;
}
#numpage #after a:hover{
  color: #fff;
  background-color: #7D8BAE;
}

form input{
  
  font-family: FontAwesome;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  
  border: none;
  background: none;
  outline: none;
  color: #000;
  
  cursor: pointer;
  font-size: 1.2rem;
}