@charset "utf-8";

/* common.cssは絶対に触らない！！！！！！！！！！！ */

/* sample.cssをコピーし複製 */
/* ファイル名はhtmlと同じ名前にしてください */

/* sample.htmlにlinkタグがコメントアウトしてあるので良ければ使ってください */

/*sample.html*/
/*例*/
section{
  position: relative;
}

#kisekae_basic{
  width: 100%;
  margin: 0 auto;
  z-index: 1;
  position: relative;
  background-color: #41537d;
}

#kisekae_basic img#kisekae_image{
  width: 100%;
}

#kisekae_basic img#umekomutoko{
  width: 30%;
  height: auto;
  position: absolute;
  top: 35%;
  left: 50%;
  transform: translate(-50%,-35%);
}

#kisekae_basic img#suisou{
  width: 29%;
  height: auto;
  position: absolute;
  top: 35.7%;
  left: 50%;
  transform: translate(-50%,-35.7%);
}

#kisekae_basic img#sakanatachi{
  width: 29%;
  height: auto;
  position: absolute;
  top: 34.5%;
  left: 50%;
  transform: translate(-50%,-34.5%);
}

#kisekae_basic img#nozokuneko{
  width: 5%;
  height: auto;
  position: absolute;
  top: 69.5%;
  left: 90.8%;
}

#kisekae_basic img#cattower{
  width: 8%;
  height: auto;
  position: absolute;
  top: 50.6%;
  left: 79.3%;
}

#kisekae_basic img#cat_water{
  width: 5%;
  height: auto;
  position: absolute;
  top: 79%;
  left: 81%;
}

#kisekae_basic img#petbag{
  width: 8%;
  height: auto;
  position: absolute;
  top: 61%;
  left: 74.5%;
}

#kisekae_basic img#hamusuke{
  width: 12%;
  height: auto;
  position: absolute;
  top: 72%;
  left: 68%;
}

#kisekae_basic img#nekojyarashi{
  width: 10%;
  height: auto;
  position: absolute;
  top: 89%;
  left: 79%;
}

#kisekae_basic img#ball{
  width: 4%;
  height: auto;
  position: absolute;
  top: 86%;
  left: 60%;
}

#kisekae_basic img#rido{
  width: 10%;
  height: auto;
  position: absolute;
  top: 80%;
  left: 45%;
}

#kisekae_basic img#came{
  width: 7%;
  height: auto;
  position: absolute;
  top: 74%;
  left: 37%;
}

#kisekae_basic img#inu{
  width: 10%;
  height: auto;
  position: absolute;
  top: 68%;
  left: 23%;
}

#kisekae_basic img#dog_food{
  width: 8%;
  height: auto;
  position: absolute;
  top: 86%;
  left: 29.5%;
}

#kisekae_basic img#dog_food{
  width: 8%;
  height: auto;
  position: absolute;
  top: 86%;
  left: 29.5%;
}

#kisekae_basic img#hachurui{
  width: 11%;
  height: auto;
  position: absolute;
  top: 43%;
  left: 14%;
}

#kisekae_basic img#torikago{
  width: 11%;
  height: auto;
  position: absolute;
  top: 69%;
  left: 8%;
}

#kisekae_basic div#offright{
  width: 100%;
  height: 100%;
  background-color: #03061ed5;
  position: absolute;
  top: -1px;
}

/* -------------------------- */
section div#maigoinko{
  width: 180px;
  height: 230px;
  background-color: #00000099;
  position: absolute;
  top: 15px;
  right: 0;
}

section div#maigoinko h1{
  color: #fff;
	text-shadow: 0 0 8px #fff,0 0 15px #fff;
	font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}

div img.maigotori_set{
  display: block;
  width: 150px;
  height: auto;
  margin: 0 auto;
  border: solid 2px #fff;
}

section div#maigoinko p{
  text-align: center;
  margin: 10px 0 0 0;
  color: #fff;
	text-shadow: 0 0 8px #fff,0 0 15px #fff;
	font-size: 1rem;
  font-weight: lighter;
}

/* ----------------------------- */
section div#satooyainko{
  width: 180px;
  height: 230px;
  background-color: #00000099;
  position: absolute;
  top: 15px;
  right: 190px;
}

section div#satooyainko h1{
  color: #fff;
	text-shadow: 0 0 8px #fff,0 0 15px #fff;
	font-size: 1rem;
  font-weight: lighter;
  text-align: center;
  padding: 10px;
  margin-top: 5px;
}

section div#satooyainko p{
  text-align: center;
  margin: 10px 0 0 0;
  color: #fff;
	text-shadow: 0 0 8px #fff,0 0 15px #fff;
	font-size: 1rem;
  font-weight: lighter;
}

#m-sample div.wrap p {
  /* 例として書いてあるだけなので消して大丈夫です */
  color: #000;
}

/* Topページ下部------------------ */
section.index_M_sec2_1 {
  width: 100%;
  height: auto;
  background-color: #ff7f5000;
  margin: 50px 0 100px 0;
}

/* トップページ下部（フレックスBOX） */
div.index_M_sec2_fl_1 {
  width: 100%;
  height: auto;
  background-color: #ff634700;
  display: flex;
}

/* トップページ下部（フレックス左） */
div.index_M_sec2_di_1 {
  width: 300px;
  height: 100%;
  background-color: #ff440000;
  margin: 0 50px 0 0;
}

/* トップページ下部（フレックス右） */
div.index_M_sec2_di_2 {
  width: calc(100% - 300px);
  height: 1167px;
  background-color: #ff440000;
}

/* ログインボーナス */

div.index_M_sec2_di_1 form#loginB{
  margin: 0 0 40px 20px;
  width: 290px;
  display: flex;
}

div.index_M_sec2_di_1 form#loginB button#bounus{
  border: none;
  margin: 0 auto;
  background-color: #f7f7ff;
}

div.index_M_sec2_di_1 form#loginB button#bounus img{
  width: 270px;
  height: auto;
  transition: 0.3s;
}

div.index_M_sec2_di_1 form#loginB button#bounus img:hover{
  opacity: 0.5;
}

/* div.index_M_sec2_di_1 a#loginB {
  width: auto;
  height: 168px;
  text-decoration: none;
  display: block;
  background-image: url(../images/login_bonus.png);
  background-size: cover;
  background-position: 50%;
  text-align: center;
  margin: 0 0 35px 10px;
  border: solid 5px #eaff00;
} */

/* 検索BOX */
div.index_M_sec2_di_1_1 {
  width: 100%;
  height: 280px;
  background-color: #ff000000;
  border: solid 1px #eeeeee00;
  border-bottom: none;
  margin: 0 0 175px 20px;
  position: relative;
}

/* 絞り込み */
div.index_M_sec2_di_1_1 h1 {
  width: 100%;
  height: 55px;
  background-color: #dc143c00;
  line-height: 55px;
  padding: 0 0 0 20px;
  border-bottom: solid 1px #ddd;
}

/* キーワードフレーム */
div.index_M_sec2_di_1_1 > div {
  width: 100%;
  height: 60px;
  background-color: #dc143c00;
  border-bottom: solid 1px #ddd;
  display: flex;
}

/* キーワード */
div.index_M_sec2_di_1_1 div p {
  width: 90px;
  background-color: #c7158600;
  text-align: center;
  line-height: 64px;
  margin-left: 15px;
}


div.index_M_sec2_fl_1_1_1  input {
  width: 150px;
  height: 30px;
  margin: 13px 0 0 20px;
  background-color: #e5867b00;
  border-radius: 8px;
  border: solid 1px #f0f0f0;
}

div.index_M_sec2_fl_1_1_2 input {
  width: 150px;
  height: 30px;
  margin: 13px 0 0 20px;
  background-color: #e5867b00;
  border-radius: 8px;
  border: solid 1px #f0f0f0;
}

input::placeholder {
  color: #b0b0b0;
  font-size: 0.8rem;
}

input:focus {
  outline: solid 1px #ddd;
}

/* 除外キーワードフレーム */
/* 上に同じ */

/* カテゴリ */
div.index_M_sec2_fl_1_1_3 p {
  margin: 0 0 0 5px;
}

/* カテゴリ選択 */
div.index_M_sec2_fl_1_1_3 select{
  border: none;
}

div.index_M_sec2_fl_1_1_3 select option{
  border-bottom-width: 2px;
}

div.index_M_sec2_fl_1_1_3 select {
  
  width: 155px;
  height: 30px;
  margin: 13px 0 0 20px;
  background-color: #e5867b00;
  border-radius: 8px;
  border: solid 1px #f0f0f0;
}

/* 価格 */
div.index_M_sec2_fl_1_1_4 p {
  width: 90px;
  margin: 0 0 0 5px;
}

/* 価格入力のflexフレーム */
div.index_M_sec2_fl_1_1_4 div {
  width: 175px;
  background-color: #c7158600;
  display: flex;
  justify-content: space-between;
}

/* ～ */
div.index_M_sec2_fl_1_1_4 div p {
  display: inline;
  background-color: #ff149100;
  font-size: 0.8rem;
}

/* 価格入力 */
div.index_M_sec2_fl_1_1_4 div input {
  width: 48px;
  height: 30px;
  margin: 13px 0 0 20px;
  background-color: #e5867b00;
  border-radius: 8px;
  border: solid 1px #f0f0f0;

}

/* 検索ボタン */
div.index_M_sec2_fl_1 button#searchbtnA {
  width: 80px;
  height: 30px;
  border: solid 1px #eebdb7;
  background-color: #eebdb700;
  border-radius: 8px;
  transition: 0.5s;
  color: #797979;
  position: absolute;
  /* top: 12px; */
  right: 20px;
  bottom: -60px;
  line-height: 28.7px;
}

div.index_M_sec2_fl_1 button#searchbtnA:hover {
  background-color: #eebdb7;
  color: #fefeff;
}
/* Topページ下部（カテゴリ検索）------------------ */

/* カテゴリ選択 */
div.index_M_sec2_di_1_2 {
  width: 90%;
  height: auto;
  background-color: #ff000000;
  border: solid 1px #41537d;
  margin: 0 0 100px 20px;
}

/* ペットから探す */
div.index_M_sec2_di_1_2 h1 {
  width: 100%;
  height: 50px;
  background-color: #41537d;
  color: #ffffff;
  line-height: 3em;
  padding-left: 20px;
  
}

/* ペットから探す（項目） */
div.index_M_sec2_di_1_2 nav {
  width: 100%;
  height: auto;
  background-color: #dc143c00;
}

div.index_M_sec2_di_1_2 nav ul {
}

div.index_M_sec2_di_1_2 nav ul li {
  border-bottom: solid 1px #41537d;
}

/* 項目 */
div.index_M_sec2_di_1_2 nav ul li a {
  display: block;
  width: calc(100% - 20px);
  height: 50px;
  margin: 0;
  padding: 0 0 0 20px;
  text-align: left;
  font-size: 1.1rem;
  line-height: 3em;
  text-decoration: none;
  color: #000;
  transition: 0.5s;
}

div.index_M_sec2_di_1_2 nav ul li a:hover {
  background-color: #cfddff;
}
div.index_M_sec2_di_1_2 nav ul li:last-child{
  border: none;
}

div.koukokuyou1{
  width: 272px;
  height: auto;
  margin: 0 0 0 20px;
}

div.koukokuyou1 a img{
  width: 100%;
  height: auto;
  transition: 0.3s;
}

div.koukokuyou1 a img:hover{
  opacity: 0.5;
}

div.koukokuyou2{
  width: 272px;
  height: auto;
  margin: 70px 0 0 20px;
}

div.koukokuyou2 a img{
  width: 100%;
  height: auto;
  transition: 0.3s;
}

div.koukokuyou2 a img:hover{
  opacity: 0.5;
}



/* a.koukoku1 {
  display: block;
  width: 300px;
  height: 500px;
  background-image: url(../images/dasadeza.jpg);
  background-size: cover;
  margin: 0 0 100px 0;
} */

a.koukoku2 {
  display: block;
  width: 100%;
  height: 300px;
  background-color: #e5857b;
  background-image: url(../images/img2.jpg);
  background-size: contain;
}

/* Topページ下部（イベント情報）------------------ */

div#index_M_sec2_di_2_slide{
  width: calc(100% - 40px);
  height: auto;
  /* display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  position: relative; */
  background-color: #41537d00;
}

div#index_M_sec2_di_2_slide ul.slider{
  margin: 20px 0 0 0;
}

/* --------------------------------------ここまで */
div.index_M_sec2_di_2 > div {
  width: 810px;
  height: auto;
  background-color: #ff000000;
  margin: 0 auto;
}

div.index_M_sec2_di_2 div h1 {
  width: 810px;
  font-size: 1.2rem;
  background-color: #dc143c00;
  padding: 10px 0 0 0;
  margin: 0 auto 20px auto;
}

/* 写真入れるフレーム */
div.index_M_sec2_di_2 div div {
  width: 770px;
  height: auto;
  background-color: #dc143c00;
  margin: 0 auto 40px auto;
  display: flex;
  justify-content: space-between;
}

/* イベント写真１ */
div.index_M_sec2_di_2 div div a.event1_frame {
  width: 370px;
  height: 280px;
  display: block;
  background-image: url(../images/event2.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

/* イベント写真２ */
div.index_M_sec2_di_2 div div a.event2_frame {
  width: 370px;
  height: 280px;
  display: block;
  background-image: url(../images/event3.jpg);
  background-size: cover;
  background-repeat: no-repeat;
}

a.event1_frame,
a.event2_frame {
  transition: 0.5s;
}

a.event1_frame:hover,
a.event2_frame:hover {
  opacity: 0.5;
}

/* Topページ下部（ペットの種類から探す）------------------ */
div.index_M_sec2_di_2 div.search_from_kinds_of_pet {
  width: 810px;
  height: auto;
  background-color: #dc143c00;
  margin: 70px 0 0 0;
}
div.index_M_sec2_di_2 div.search_from_kinds_of_pet h1{
  margin: 0 0 30px 0;
}

/* 横に並べるようの箱 */
div.search_from_kinds_of_pet div.kind_of_pets_flex {
  width: 95%;
  height: auto;
  background-color: #c7158600;
}
div.search_from_kinds_of_pet div.kind_of_pets_flex a{
  display: flex;
}
div.search_from_kinds_of_pet div.kind_of_pets_flex a p{
  
  margin: 100px auto 0 auto;
}

/* お試し出品とはボタン */
div.kind_of_pets_flex a {
  width: 90px;
  height: 90px;
  border-radius: 50%;
}

div.kind_of_pets_flex a:first-child {
  background-image: url(../images/inu.jpg);
  background-size: contain;
}

div.kind_of_pets_flex a:nth-child(2) {
  background-image: url(../images/neko.jpg);
  background-size: contain;
}

div.kind_of_pets_flex a:nth-child(3) {
  background-image: url(../images/hamusuta-.jpg);
  background-size: contain;
}

div.kind_of_pets_flex a:nth-child(4) {
  background-image: url(../images/inko.jpg);
  background-size: contain;
}

div.kind_of_pets_flex a:nth-child(5) {
  background-image: url(../images/reopa.jpg);
  background-size: contain;
}

div.kind_of_pets_flex a:nth-child(6) {
  background-image: url(../images/kaeru.jpg);
  background-size: contain;
}

div.kind_of_pets_flex a:nth-child(7) {
  background-image: url(../images/hebi.jpg);
  background-size: contain;
}

div.search_from_kinds_of_pet > a {
  text-decoration: none;
  float: right;
  margin: -20px 20px 0 0;
}

div.index_M_sec2_di_2 div.tutorial_choice {
  width: 810px;
  height: auto;
  background-color: #dc143c00;
  margin: 40px auto 30px auto;
  display: flex;
  justify-content: space-between;
}

div.tutorial_choice a:first-child {
  display: block;
  width: 390px;
  height: 110px;
  border-radius: 10px;
  background-image: url(../images/3.png);
  background-size: cover;
  transition: 0.5s;Users/kazum/Downloads/初心者ガイド/2.png Users/kazum/Downloads/初心者ガイド/3.png
}

div.tutorial_choice a:first-child:hover {
  opacity: 0.5;
}

div.tutorial_choice a:nth-child(2) {
  display: block;
  width: 390px;
  height: 110px;
  border-radius: 10px;
  background-image: url(../images/2.png);
  background-size: cover;
  transition: 0.5s;
}

div.tutorial_choice a:nth-child(2):hover {
  opacity: 0.5;
}

div.index_M_sec2_di_2 div.search_from_category_of_goods {
  width: 810px;
  height: auto;
  background-color: #dc143c00;
  margin: 100px auto 150px auto;
}

div.search_from_category_of_goods div.category_of_goods_flex {
  width: 95%;
  height: auto;
  background-color: #c7158600;
  display: flex;
  flex-wrap: wrap;
}

div.category_of_goods_flex a {
  width: 160px;
  height: 75px;
  border-radius: 10px;
  margin: 10px;
  margin-bottom: 30px;
  position: relative;
}

div.category_of_goods_flex a p {
  font-size: 1rem;
  position: absolute;
  top: 110%;
  left: 50%;
  transform: translate(-50%, 0);
  background-color: #ff149100;
  white-space: nowrap;
}

/* div.category_of_goods_flex a:first-child {
  background-image: url(../images/geji.jpg);
  background-size: cover;
} */

div.category_of_goods_flex a:first-child {
  background-image: url(../images/geji.jpg);
  background-size: cover;
}

div.category_of_goods_flex a:nth-child(2) {
  background-image: url(../images/esaire.jpg);
  background-size: cover;
}

div.category_of_goods_flex a:nth-child(3) {
  background-image: url(../images/rido.jpg);
  background-size: cover;
}

div.category_of_goods_flex a:nth-child(4) {
  background-image: url(../images/omocha.jpg);
  background-size: cover;
}

div.category_of_goods_flex a:nth-child(5) {
  background-image: url(../images/caribag.jpg);
  background-size: cover;
}

div.category_of_goods_flex a:nth-child(6) {
  background-image: url(../images/petkagu.jpg);
  background-size: cover;
}

div.category_of_goods_flex a:nth-child(7) {
  background-image: url(../images/pettokozai.jpg);
  background-size: cover;
}

div.category_of_goods_flex a:nth-child(8) {
  background-image: url(../images/hoshitu.jpg);
  background-size: cover;
}

div.search_from_category_of_goods > a {
  text-decoration: none;
  float: right;
  margin: -20px 20px 0 0;
}


/* 里親掲示板の文字 */
p.satooyabo {
  width: 100%;
  height: auto;
  background-color: #ff7f5000;
  border-left: solid 8px #e5857b;
  font-size: 1.4rem;
  padding-left: 10px;
}

/* 掲示板の個々Flex */
div.satooya_flex {
  width: 550px;
  height: auto;
  background-color: #e5867b00;
  display: flex;
  justify-content: space-between;
  margin: 30px 0 70px 0;
}

/* 掲示板の個々 */
div.satooya_flex a.satooyaboshuBox {
  display: block;
  width: 250px;
  height: auto;
  background-color: #ff220000;
  /* border: solid 0.5px #ddd; */
  box-shadow: 2px 2px 7px #ddd;
  padding: 20px;
  margin: 20px 0 20px 0;
  text-decoration: none;
  text-align: center;
  transition: 0.5s;
}

/* スキマ開ける為 */
div.satooya_flex a.satooyaboshuBox:nth-child(2),
div.satooya_flex a.satooyaboshuBox:nth-child(3),
div.satooya_flex a.satooyaboshuBox:nth-child(4) {
  margin: 0 10px 0 30px;
}

a.satooyaboshuBox:hover {
  opacity: 0.5;
}

/* 里親掲示板の個々の写真 */
a.satooyaboshuBox div.satooyaoseru{
  width: 130px;
  height: 130px;
  /* background-color: #41537d; */
  /* background-image: url(../images/neko.jpg); */
  background-size: cover;
}

a.satooyaboshuBox div.satooyaoseru img{
  max-width: 100%;
  margin: 0 auto 0 auto;
}

/* 里親掲示板の下の文字 */
a.satooyaboshuBox p.satooyasagasi_m {
  text-decoration: none;
  margin-top: -20px;
}
/* --------------------------------------- */






/* ----------slick_slider----------- */

.slider .slick-slide {
  margin: 0 60px;
  padding: 60px 0 30px 0;
  position: relative;
}
.slider .slick-slide figure {
  width: 300px;
  height: auto;
  transition: all 0.6s ease 0.4s;
  opacity: 0.6;
  box-shadow: 7px 7px 15px -5px #666;
  overflow: hidden;
}
.slider .slick-slide.slick-current figure {
  transform: scale(1.2);
  opacity: 1;
}
.slider .slick-slide figure img {
  display: block;
  width: 100%;
  height: auto;
  object-fit: cover;
  margin: 0 auto;
}
.slider .slick-arrow {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  background-color: #fff;
  cursor: pointer;
  border: none;
  outline: none;
  font-size: 0;
  position: absolute;
  top: 50%;
  z-index: 1;
  transform: translateY(-50%);
  filter: drop-shadow(0px 3px 6px rgba(0, 0, 0, 0.16));
}
.slider .slick-arrow::before {
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  border: 1px solid #09000d;
  border-width: 3px 3px 0 0;
  position: absolute;
  top: 24px;
  transform: rotate(45deg);
}
.slider .slick-next {
  right: 0;
}
.slider .slick-prev {
  left: 0;
}
.slider .slick-next::before {
  left: 20px;
}
.slider .slick-prev::before {
  border-width: 0 0 3px 3px;
  right: 22px;
}
.S_dots .slick-dots {
  text-align: center;
}
.S_dots .slick-dots li {
  display: inline-block;
}
.S_dots .slick-dots button {
  display: block;
  width: 10px;
  height: 10px;
  margin: 6px;
  font-size: 0;
  padding: 0;
  border: 0;
  outline: none;
  cursor: pointer;
  background: #bcbcbc;
  border-radius: 50%;
}
.S_dots .slick-dots .slick-active button {
  background: #0a467d;
}