.wrap{
    background-color: white;
}

#waku{
    margin: 100px 30%;
    box-shadow: 0 0 3px 2px rgba(0,0,0,0.4);
    background-color: white;
    text-align: center;
}
#midasi{
    font-size: 1.7rem;
    padding: 50px 100px 30px 100px;
}
#bunn{
    font-size: 0.8rem;
    padding: 20px 0;
}
#mail_form{
    text-align: left;
    padding: 0px 50px;
}
#email{
    width: 100%;
}
#mail_form2{
    text-align: right;
    padding: 0 0 100px 0;
}
#btn{
    margin: 10px 0;
    padding: 5px 10px;
    color: white;
    background-color: #363A58;
    border: none;
    border-radius: 10%;
}
#btn:hover{
    opacity: 0.5;
}